.block {
  padding-top: 70px;
}

.content {
  height: 630px;
  padding: 40px 162px;
}

.tabs {
  position: static;
  width: 384px;
  height: 40px;
  background: #ECECEC;
  border-radius: 8px;
  padding: 2px;
  margin: 24px 0;
}

.tab-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-feature-settings: 'liga' off;
  color: #8D8D8E;
  text-decoration: none;

}

.text-color-black {
  color: black;
}

/*.active-tab {*/
/*  position: static;*/
/*  width: 126.67px;*/
/*  height: 36px;*/
/*  left: 2px;*/
/*  top: 2px;*/
/*  background: #FFFFFF;*/

/*  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);*/
/*  border-radius: 6px;*/
/*}*/
.nav-item {
  cursor: pointer;
}

.nav-link {
  display: block;
  padding: 0;
}

.nav-link:hover, .nav-link:focus {
  border-color: transparent;
}

.nav-link.active {
  background-color: white;
  position: absolute;
  width: 126.67px;
  height: 36px;
  left: 0;
  top: 0;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.list-group {
  list-style-type: none;
}

.item {
  background-color: #F6F6F6;
  width: 384px;
  height: 72px;
  left: 0;
  top: 0;
  cursor: pointer;

  /* Card Shadow */

  border-color: transparent;
  padding: 12px 16px;
}

.active-item {
  border-radius: 8px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  background-color: white;
  z-index: 1;
}

/* image circle border payment progress bar */
.progress{
  width: 48px;
  height: 48px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  padding: 10px;
}
.progress:after{
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #ECECEC;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left{
  left: 0;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}

.progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress-right .progress-bar-1 {
  animation: loading-60 0.9s linear forwards;
}

.progress-right .progress-bar-2 {
  animation: loading-120 0.9s linear forwards;
}

.progress-right .progress-bar-3 {
  animation: loading-180 0.9s linear forwards;
}

.progress-right .progress-bar-4 {
  animation: loading-180 0.9s linear forwards;
}

.progress-left .progress-bar-4 {
  animation: loading-60 0.4s linear forwards 0.9s;
}

.progress-right .progress-bar-5 {
  animation: loading-180 0.9s linear forwards;
}

.progress-left .progress-bar-5 {
  animation: loading-120 0.4s linear forwards 0.9s;
}

.progress-right .progress-bar-6 {
  animation: loading-180 0.9s linear forwards;
}

.progress-left .progress-bar-6 {
  animation: loading-180 0.4s linear forwards 0.9s;
}

/*.progress .progress-value{*/
/*  width: 90%;*/
/*  height: 90%;*/
/*  border-radius: 50%;*/
/*  background: white;*/
/*  font-size: 24px;*/
/*  color: #ECECEC;*/
/*  line-height: 120px;*/
/*  text-align: center;*/
/*  position: absolute;*/
/*  top: 5%;*/
/*  left: 5%;*/
/*}*/
.progress.yellow .progress-bar{
  border-color: #FBDE4B;
}

@keyframes loading-0{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes loading-60{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
  }
}

@keyframes loading-120{
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
  }
}

@keyframes loading-180 {
  0%{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}


@media only screen and (max-width: 990px){
  .progress{ margin-bottom: 20px; }
}

/* product list info */

.list-product-name {
  font-size: 16px;
  line-height: 20px;
}

.provider {
  font-size: 14px;
  line-height: 20px;
  color: #8D8D8E;
}

.list-product-price {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.list-product-date {
  color: #8D8D8E;
  font-size: 14px;
  line-height: 20px;
}
