<div class="block">

  <div class="content container d-flex justify-content-center" *ngIf="backProducts">
    <div class="mr-5">
      <ul class="nav nav-tabs tabs d-flex justify-content-start row text-center">
        <li class="nav-item col-4">
          <a class="nav-link tab-name active" data-target="#all" data-toggle="tab">
            ВСЕ
          </a>
        </li>
        <li class="nav-item col-4 ">
          <a class="nav-link tab-name" data-target="#active" data-toggle="tab">
          АКТИВНЫЕ
        </a>
        </li>
        <li class="nav-item col-4">
          <a class="nav-link tab-name" data-target="#closed" data-toggle="tab">
          ЗАКРЫТЫЕ
        </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="all">
          <ul class="list-group">
            <ng-container *ngFor="let item of backProducts">
              <li class="item d-flex justify-content-between " (click)="clickEvent(item)"
                  [ngClass]="item.isActive ? 'active-item' : ''">

                <div class="item-info d-flex">
                  <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"
                          [ngClass]="[payProgress == 4 ? 'progress-bar-4':'',
                           payProgress == 5 ? 'progress-bar-5':'',
                           payProgress == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"
                          [ngClass]="[payProgress == 1 ? 'progress-bar-1':'',
                           payProgress == 2 ? 'progress-bar-2' : '',
                           payProgress == 3 ? 'progress-bar-3':'',
                           payProgress == 4 ? 'progress-bar-4':'',
                           payProgress == 5 ? 'progress-bar-5':'',
                           payProgress == 6 ? 'progress-bar-6':'',]"></span>
                </span>
<!--                    <img src="assets/macbook_pro_13_sm.png" alt="" width="28" height="28">-->
                  </div>

                  <div>
                    <span class="list-product-name ml-2 font-weight-bold">{{item.description}}</span>
                    <p class="provider ml-2">{{item.nameseller}}</p>
                  </div>
                </div>

                <div class="text-right">
                  <span class="list-product-price font-weight-bold">{{item.price | stringPrice }} ₸</span>
<!--                  <p class="list-product-date">до date_</p>-->
                </div>
              </li>
            </ng-container>

          </ul>
        </div>
        <div class="tab-pane fade" id="active">
          <ul class="list-group">
            <ng-container *ngFor="let item of activeProducts">
              <li class="item d-flex justify-content-between " (click)="clickEvent(item)"
                  [ngClass]="item.isActive ? 'active-item' : ''">

                <div class="item-info d-flex">
                  <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"
                          [ngClass]="[payProgress == 4 ? 'progress-bar-4':'',
                           payProgress == 5 ? 'progress-bar-5':'',
                           payProgress == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"
                          [ngClass]="[payProgress == 1 ? 'progress-bar-1':'',
                           payProgress == 2 ? 'progress-bar-2' : '',
                           payProgress == 3 ? 'progress-bar-3':'',
                           payProgress == 4 ? 'progress-bar-4':'',
                           payProgress == 5 ? 'progress-bar-5':'',
                           payProgress == 6 ? 'progress-bar-6':'',]"></span>
                </span>
<!--                    <img src="assets/macbook_pro_13_sm.png" alt="" width="28" height="28">-->
                  </div>

                  <div>
                    <span class="list-product-name ml-2 font-weight-bold">{{item.description}}</span>
                    <p class="provider ml-2">{{item.nameseller}}</p>
                  </div>
                </div>

                <div class="text-right">
                  <span class="list-product-price font-weight-bold">{{item.price | stringPrice}} ₸</span>
<!--                  <p class="list-product-date">до date_</p>-->
                </div>
              </li>
            </ng-container>

          </ul>
        </div>
        <div class="tab-pane fade" id="closed">
          <ul class="list-group">
            <ng-container *ngFor="let item of closedProducts">
              <li class="item d-flex justify-content-between " (click)="clickEvent(item)"
                  [ngClass]="item.isActive ? 'active-item' : ''">

                <div class="item-info d-flex">
                  <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"
                          [ngClass]="[payProgress == 4 ? 'progress-bar-4':'',
                           payProgress == 5 ? 'progress-bar-5':'',
                           payProgress == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                    <span class="progress-right">
                    <span class="progress-bar"
                          [ngClass]="[payProgress == 1 ? 'progress-bar-1':'',
                           payProgress == 2 ? 'progress-bar-2' : '',
                           payProgress == 3 ? 'progress-bar-3':'',
                           payProgress == 4 ? 'progress-bar-4':'',
                           payProgress == 5 ? 'progress-bar-5':'',
                           payProgress == 6 ? 'progress-bar-6':'']"></span>
                </span>
<!--                    <img src="assets/macbook_pro_13_sm.png" alt="" width="28" height="28">-->
                  </div>

                  <div>
                    <span class="list-product-name ml-2 font-weight-bold">{{item.description}}</span>
                    <p class="provider ml-2">{{item.nameseller}}</p>
                  </div>
                </div>

                <div class="text-right">
                  <span class="list-product-price font-weight-bold">{{item.price | stringPrice}} ₸</span>
<!--                  <p class="list-product-date">до date_</p>-->
                </div>
              </li>
            </ng-container>

          </ul>
        </div>
      </div>
    </div>

    <div class="ml-5">
      <app-order-details reqId="{{product?.id}}"></app-order-details>
    </div>
  </div>
</div>
