<div class="decision-box" *ngIf="product">

  <div class="d-flex justify-content-between" style="width: 100%">
    <div class="d-flex float-left" style="height: 88.8px;">
      <!--      <div>-->
      <!--        <img src="assets/macBook.png"  class="product-img" alt="">-->
      <!--      </div>-->
      <!--      <div class="status-img ml-3">-->
      <!--        <img src="assets/decision-success.svg" alt="" width="72" height="72">-->
      <!--      </div>-->
      <div style="width: 300px;">
        <h4 class="product?-name font-weight-bold ml-3 mt-2">{{product?.Description}}</h4>
      </div>
    </div>

    <div class="payment-box text-right">
      <span class="price font-weight-bold">{{product?.Price | stringPrice}} ₸</span>
      <p class="pay-count"> {{amountPayed}} из 3 платежей</p>
    </div>
  </div>

  <div class="payment-progress mt-3 d-flex justify-content-center">
    <div class="bar mx-1" [ngClass]="amountPayed >= 1 ? 'bg-yellow' : 'bg-light-gray'"></div>
    <div class="bar mx-1" [ngClass]="amountPayed >= 2 ? 'bg-yellow' : 'bg-light-gray'"></div>
    <div class="bar mx-1" [ngClass]="amountPayed >= 3 ? 'bg-yellow' : 'bg-light-gray'"></div>
<!--    <div class="bar mx-1" [ngClass]="amountPayed >= 4 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
<!--    <div class="bar mx-1" [ngClass]="amountPayed >= 5 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
<!--    <div class="bar mx-1" [ngClass]="amountPayed >= 6 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
  </div>

  <!--  *ngIf="product?.status != 'Закрыт'-->
  <div>

    <div class="text-center mt-4">
      <button class="success-btn bg-yellow" (click)="toPayment()" disabled>
        Оплатить {{product?.SumPayment | stringPrice }}₸
      </button>
    </div>

    <div class="text-center mt-2">
      <button class="white-btn" disabled>Получить отсрочку</button>
    </div>
  </div>

  <div class="text-center mt-5" *ngIf="product?.Statusproduct == 'Закрыт'">
    <button class="white-btn" disabled>Оплачено</button>
  </div>

  <div class="info mt-5 d-flex justify-content-between">
    <p class="info-key">Статус</p>
    <p class="line" *ngIf="product?.Statusproduct.length >= 23">
      ..................................................................................</p>
    <p class="line" *ngIf="product?.Statusproduct.length < 23">
      ......................................................................................</p>
    <span class="font-weight-bold">{{product?.Statusproduct}}</span>
  </div>

  <div class="info d-flex justify-content-between">
    <p class="info-key">Срок рассрочки</p>
    <p class="line">
      .....................................................................................................</p>
    <span class="font-weight-bold">{{product?.Term}}</span>
  </div>

  <div class="info d-flex justify-content-between">
    <p class="info-key">Дата окончания</p>
    <p class="line">
      .................................................................................................</p>
    <span class="font-weight-bold">{{product?.DateClose}}</span>
  </div>

  <div class="info row justify-content-between">
    <p class="col-2 info-key">Артикул</p>
    <hr class="col-7" *ngIf="product?.VendorCode.length <= 10">
    <hr class="col-6" *ngIf="product?.VendorCode.length > 10">
    <span class="col font-weight-bold text-right">{{product?.VendorCode}}</span>
  </div>

  <div class="info d-flex justify-content-between">
    <p class="info-key">Первый платеж</p>
    <p class="line">
      ..............................................................................................</p>
    <span class="font-weight-bold">{{product?.DatePayment}}</span>
  </div>

  <div class="info row justify-content-between">
    <p class="col-2 info-key">Продавец</p>
    <hr class="col-5" *ngIf="product?.NameSeller.length >= 21">
    <hr class="col-6" *ngIf="product?.NameSeller.length < 21">
    <span class="col font-weight-bold text-right">{{product?.NameSeller}}</span>
  </div>


  <div class="d-flex mt-3">
    <img src="assets/Vector.svg" alt="" class="link-icon mr-1">
    <a class="agreement" (click)="openSuccessModal(documents)">Документы</a>
  </div>

</div>

<div *ngIf="!product && !listError">
  <div class="box-loader custom-layout">
    <div class="loader mx-auto">
    </div>
  </div>
</div>

<div *ngIf="listError && !product">
  <div class="box-loader text-center p-4">
    <span class="list-error">{{listError}}</span>
  </div>
</div>

<ng-template #documents let-modal>
  <div class="p-1">
    <div class="header-modal">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <img src="assets/pictures/icons/X.svg" alt="X" aria-hidden="true">
      </button>
    </div>
    <div class="docs-list">
      <div class="text-center mb-2">
        <span *ngIf="error != null">{{error}}</span>
        <span *ngIf="docs?.length > 0">Список документов</span>
      </div>
      <ul class="list-group">
        <li class="list-group-item pointer" *ngFor="let item of docs" (click)="openFile(item.docid)">{{item.doctype}}
          .pdf
        </li>
      </ul>
    </div>

  </div>
</ng-template>
