.decision-box {
  width: 696px;
  max-height: 540px;
  background-color: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 32px;
}

.box-loader {
  width: 696px;
  height: 540px;
  background-color: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.product-img {
  border-radius: 0;
}

.status-img {
  width: 75px;
  height: 75px;
}

img {
  border-radius: 75px;
}

.product-name {
  font-size: 22px;
  margin-bottom: 0;
}

.date-1 {
  font-size: 14px;
  line-height: 20px;
  color: #8D8D8E;
  font-weight: bold;
  position: relative;
  bottom: 0;
}

.price {
  font-size: 22px;
}

.pay-count {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #8D8D8E;
}

.payment-box {
  width: 216px;
}

.bar {
  border-radius: 4px;
  width: calc(3*96.33px);
  height: 4px;
}

.bg-yellow {
  background-color: #FBDE4B;
}

.bg-light-gray {
  background-color: #ECECEC;
}

.bg-white {
  background-color: #FFFFFF;
}

.info {
  font-size: 14px;
  line-height: 70%;
}

.info-key {
  font-size: 14px;
  color: #8D8D8E;
}

.line {
  font-weight: 300;
  font-size: 14px;
  line-height: 3px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8D8D8E;

  opacity: 0.24;
}

hr {
  border:none;
  border-top: 2px dotted #eaeaea;
  color: #e7e7e7;
  height: 1px;
  width: 57%;
  margin: 7px 2px 4px;
}

.success-btn {
  width: 98%;
  padding: 16px 20px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 0;
}

.white-btn {
  width: 98%;
  background: #FFFFFF;
  padding: 16px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 1px solid #ECECEC;
}

.agreement {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;

  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #ECECEC;
}

.agreement:hover {
  text-decoration: none;
}

.link-icon {
  border-radius: 0;
}

.loader {
  font-size: 10px;

  text-indent: -9999em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(from 90deg at 50% 50%,
    rgba(251, 222, 75, 0.0001) 0deg, #FBDE4B 359.96deg, rgba(251, 222, 75, 0.0001) 360deg);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:after {
  background: white;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header-modal {
  height: 30px;
}

.docs-list {
  min-height: 300px;
  padding: 10px;
  font-weight: bold;
}

.close {
  outline: none;
  box-shadow: none;
}

.list-error {
  font-size: 28px;
  font-weight: bold;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
