.confirmation {
  display: block;
  width: 384px;
  height: 348px;
  background-color: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.error-popup {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  height: 45px;
  background: #000000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.error-popup span{
 color: white;
  font-size: 14px;
  line-height: 22px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.instruction {
  color: #8D8D8E;
  font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"] {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(42, 70, 94, 0.12);
  border-radius: 12px;

  width: 44px;
  height: 72px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  background: repeating-linear-gradient(90deg, #ffffff 0px, #ffffff 49px, #000000 50px);
  /*letter-spacing: 5ch;*/
  padding: 16px 10px 16px 9px;
}

.input-border-dimgrey{
  border: solid 1px dimgrey;
}

.input-border-transparent{
  border: solid 1px transparent;
}

input:focus {
  outline: none;
  color: black;
}

.resend-btn {
  margin-top: 30px;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid #ECECEC;
  padding: 0;
}

.mrgn-r-8 {
  margin-right: 8px
}

@media screen and (max-width: 1024px) {

  .confirmation {
    width: 470px;
    height: 328px;
  }

  .resend-btn {
    font-size: 14px;
  }

  .error-popup {
    width: 110px;
    height: 44px;
  }

  .error-popup span{
    margin-left: 5px;
    padding: 5px 5px;
  }

  .error-popup img{
    margin-left: 5px;
  }
}


@media screen and (max-width: 768px) {

  .confirmation {
    width: 470px;
    height: 328px;
  }

  .resend-btn {
    font-size: 14px;
  }
  .error-popup {
    width: 102px;
    height: 32px;
    padding-right: 5px;
    border-radius:10px;
    top: 8%;

  }
  .error-popup span{
    font-size: 16px;
    margin-right: 5px;
  }
  .error-popup img{
    margin-left: 5px;
  }
}


@media screen and (max-width: 500px) {

  .confirmation {
    width: 304px;
    height: 380px;
    margin-bottom: 0px;
  }

  .resend-btn {
    font-size: 14px;
  }
  .error-popup {
    width: 84px;
    height: 32px;
    border-radius:10px;
  }
  .error-popup span{
    font-size: 12px;
    margin-right: 3px;
  }
  .error-popup img{
    margin-left: 2px;
  }
  input[type="text"] {
    width: 38px;
    height: 61px;
    font-size: 40px;
    margin: 0px 2px;
  }

}

