.banner {
  margin-top: 16px;
  border-radius: 32px;
  height: 560px;
  width: 95%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url('/assets/pictures/main-landing-girl-notebook.png') center center;
}

.banner-text {
  text-align: left;
  margin-left: 32px;
  margin-top: 32px;
  width: 592px;
  color: white;
  font-weight: 500;
  font-size: 66px;
  line-height: 96px;
  letter-spacing: -4px;
  z-index: 1;
}

.banner-button {
  margin-top: 24px;
  margin-left: 32px;
  padding: 16px 32px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 12px;
  border: 0;
}

@media screen and (max-width: 790px) {
  .banner {
    height: 540px;
    width: 90%;
  }
  .banner-text {
    margin-left: 25px;
    width: 300px;
    font-size: 56px;
    line-height: 70px;
  }
}

@media screen and (max-width: 375px) {
  .banner-text {
    width: 250px;
    font-size: 45px;
  }
}
