<div class="content mx-auto">
  <app-business-banner></app-business-banner>
  <app-carousel></app-carousel>
  <div class="mb-10">
    <app-request-banner></app-request-banner>
  </div>
  <!--  <app-faq></app-faq>-->
</div>
