.block {
  padding: 100px 0 40px;
}

.settings {
  text-align: center;
}

.welcome {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 40px;
}

.instruction {
  color: #8D8D8E;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

form {
  display: inline-block;
}

.form-group {
  position: relative;
}

.form-control {
  height: 56px;
  padding: 18px 24px;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
  width: 500px;
}

.error-text {
  text-align: right;
  color: red;
  font-size: 18px;
}

.form-control-phone {
  height: 56px;
  padding: 18px 24px;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
}

.form-control-phone:focus {
  outline: none;
}


.form-control-simple {
  width: 100%;
  height: 54px;
  padding: 18px 50px;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
  font-size: 16px;
}

::placeholder {
  font-size: 16px;
}

label {
  position: absolute;
  left: 24px;
  top: 15px;
  transition: all 0.3s;
  color: #999;
  font-weight: normal;
}

.primary-btn {
  background-color: #FBDE4B;
  margin-top: 20px;
  padding: 16px 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: none;
}

.form-check-label {
  font-size: 14px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {

  .settings {
    margin-top: 80px;
  }

}


@media screen and (max-width: 768px) {
  .form-control {
    width: 322px;
  }

  .error-text {
    text-align: right;
    color: red;
    font-size: 14px;
  }

  .form-control-simple {
    padding: 18px 47px;
  }

  .primary-btn {
    margin-top: 20px;
    padding: 16px 40%;
    font-size: 14px;
    font-weight: normal;
    width: 322px;
  }
}


@media screen and (max-width: 380px) {


  .form-control {
    width: 322px;
  }

  .error-text {
    text-align: right;
    color: red;
    font-size: 14px;
  }

  .form-control-simple {
    padding: 18px 47px;
  }

  .primary-btn {
    margin-top: 20px;
    padding: 16px 40%;
    font-size: 14px;
    font-weight: normal;
    width: 322px;
  }
}

