<div class="custom-layout">

  <!--  form -->
  <div class="settings align-content-center">
<!--    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg"-->
<!--         xmlns:xlink="http://www.w3.org/1999/xlink">-->
<!--      <circle cx="60" cy="60" r="60" fill="url(#pattern0)"/>-->
<!--      <circle cx="60" cy="60" r="60" fill="black" fill-opacity="0"/>-->
<!--      <defs>-->
<!--        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">-->
<!--          <use xlink:href="#image0" transform="scale(0.005)"/>-->
<!--        </pattern>-->
<!--        <image id="image0" width="200" height="200"-->
<!--               xlink:href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQflEVWiN3Z-F-nFLpu9rP5F4cUpZWC2_8OpcjkMuCKtnJ1RJ3jrDUDGhiCaoFFosREgUk&usqp=CAU"/>-->
<!--      </defs>-->
<!--    </svg>-->

    <div class="row" style="margin-right: 0;margin-left: 0; margin-top: 40px">
      <div class="form-group" style="width: 100%">
        <input type="text" class="form-control" [(ngModel)]="fullName" disabled
               id="inputPersonName" autocomplete="off" placeholder="ФИО">
      </div>
    </div>

    <div class="form-group">
      <label for="phone">+7</label>
      <input type="text" class="form-control form-control-simple" [(ngModel)]="phone" (input)="isDigitPhone()" disabled
             id="phone" autocomplete="off" placeholder="Мобильный номер телефона" maxlength="10" required>
    </div>

    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="email" disabled
             id="inputEmail" autocomplete="off" placeholder="Email">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="oldPassword"
             id="inputOldPassword" autocomplete="off" placeholder="Старый пароль">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="newPassword"
             id="inputNewPassword" autocomplete="off" placeholder="Новый пароль">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="reNewPassword"
             id="inputReNewPassword" autocomplete="off" placeholder="Подтвердите пароль">
    </div>

    <div *ngIf="error" class="error-text">
      <span>*{{error}}</span>
    </div>

    <button class="primary-btn" (click)="save()">Сохранить</button>

  </div>

</div>
