<div class="custom-layout">
  <!--  form -->
  <div class="address justify-content-center align-self-center">
    <span class="welcome">Адрес доставки</span>
    <div class="form-group mt-4">
      <input type="text" class="form-control" maxlength="35" [(ngModel)]="deliveryData.City"
             [ngClass]="isCityFocused ? 'input-active' : ''"
             (focus)="isCityFocused = true"
             (blur)="(this.deliveryData.City === '' || !this.deliveryData.City) ? isCityFocused = false : ''"
             id="inputCity" autocomplete="off">
      <label for="inputCity" [ngClass]="isCityFocused ? 'label-active' : ''">Город</label>
    </div>
    <div class="row" style="margin-right: 0;margin-left: 0">
      <div class="form-group mr-auto" style="width: 49%">
        <input type="text" class="form-control" maxlength="25" [(ngModel)]="deliveryData.Street"
               [ngClass]="isStreetFocused ? 'input-active' : ''"
               (focus)="isStreetFocused = true"
               (blur)="(this.deliveryData.Street === '' || !this.deliveryData.Street) ? isStreetFocused = false : ''"
               id="inputStreet" autocomplete="off">
        <label for="inputStreet" [ngClass]="isStreetFocused ? 'label-active' : ''">Улица</label>
      </div>

      <div class="form-group" style="width: 49%">
        <input type="text" class="form-control" maxlength="15" [(ngModel)]="deliveryData.House"
               [ngClass]="isHouseFocused ? 'input-active' : ''"
               (focus)="isHouseFocused = true"
               (blur)="(this.deliveryData.House === '' || !this.deliveryData.House) ? isHouseFocused = false : ''"
               id="inputHouse" autocomplete="off">
        <label for="inputHouse" [ngClass]="isHouseFocused ? 'label-active' : ''">Дом</label>
      </div>
    </div>

    <div class="row" style="margin-right: 0;margin-left: 0">
      <div class="form-group" style="width: 32%">
        <input type="text" class="form-control" maxlength="15" [(ngModel)]="deliveryData.Porch"
               [ngClass]="isPorchFocused ? 'input-active' : ''"
               (focus)="isPorchFocused = true"
               (blur)="(this.deliveryData.Porch === '' || !this.deliveryData.Porch) ? isPorchFocused = false : ''"
               id="inputEntrance" autocomplete="off">
        <label for="inputEntrance" [ngClass]="isPorchFocused ? 'label-active' : ''">Подъезд</label>
      </div>

      <div class="form-group mx-auto" style="width: 32%">
        <input type="text" class="form-control" maxlength="15" [(ngModel)]="deliveryData.Floor"
               [ngClass]="isFloorFocused ? 'input-active' : ''"
               (focus)="isFloorFocused = true"
               (blur)="(this.deliveryData.Floor === '' || !this.deliveryData.Floor) ? isFloorFocused = false : ''"
               id="inputFloor" autocomplete="off">
        <label for="inputFloor" [ngClass]="isFloorFocused ? 'label-active' : ''">Этаж</label>
      </div>

      <div class="form-group" style="width: 32%">
        <input type="text" class="form-control" maxlength="15" [(ngModel)]="deliveryData.Apartment"
               [ngClass]="isApartmentFocused ? 'input-active' : ''"
               (focus)="isApartmentFocused = true"
               (blur)="(this.deliveryData.Apartment === '' || !this.deliveryData.Apartment) ? isApartmentFocused = false : ''"
               id="inputFlat" autocomplete="off">
        <label for="inputFlat" [ngClass]="isApartmentFocused ? 'label-active' : ''">Квартира</label>
      </div>
    </div>

    <div class="error-text mb-2 text-right" *ngIf="error">
      <span>*{{error}}</span>
    </div>
    <button class="primary-btn" (click)="toNext()">Продолжить</button>

  </div>
</div>
