.agreement {
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

.box {
  padding: 35px 35px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
}

.link-icon {
  border-radius: 0;
}
