<div class="custom-layout">
  <div class="box">
    <h1 class="font-weight-bold">Документы</h1><br>
    <p class="agreement" (click)="openFile_1()">Согласие на обработку персональных данных.pdf</p>
    <p class="agreement" (click)="openFile_2()">Согласие на выдачу отчета.pdf</p>
    <p class="agreement" (click)="openFile_3()">Согласие на предоставление информации в ПКБ.pdf</p>
    <p class="agreement" (click)="openFile_4()">Договор на оказание услуг.pdf</p>
    <p class="agreement" (click)="openFile_5()">Пользовательское соглашение.pdf</p>
    <p class="agreement" *ngFor="let doc of documents;let i = index">
      <!--      todo remove ngif i < 10-->

    <p class="agreement" *ngFor="let item of documents" (click)="openFile(item.docid)">{{item.doctype}}.pdf</p>
  </div>
</div>
