.profile-svg {
  height: 35px;
  width: 35px;
  border-radius: 18px;
  vertical-align: middle;
}

.navbar {
  position: absolute;
  padding: 0 50px;
  height: 80px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.navbar-inner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.border-btm-light {
  border-bottom: 1px solid #ECECEC;
}

.border-btm-dark {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.bg-black {
  background-color: black;
}

.btn-login {
  background-color: black;
  color: white;
  border-radius: 8px;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.color-white {
  color: white;
}

.black-theme {
  background-color: white;
  color: black;
}

.steps {
  text-align: center;
}

.profile-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #8D8D8E;
}

.profile-link-active {
  color: black;
}

@media screen and (max-width: 380px) {
  .custom-progress-bar{
    position: absolute;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 830px) {
  .user-nav, .logout {
    position: fixed;
    left: -120%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }

  .navbar {
    padding: 10px 30px!important;;
  }
}

@media screen and (max-width: 767px) {
  svg {
    //width: 100px;
  }

  .custom-progress-bar {
    bottom: -70px;
  }
}

@media screen and (max-width: 600px) {
  svg {
    width: 100px;
  }

  .custom-progress-bar{
    position: absolute;
    margin-bottom: 30px;
  }
}
