<nav class="navbar navbar-inner" [ngClass]="loader ? 'bg-black border-btm-dark' : 'border-btm-light'">
  <!--  <div class="navbar-inner">-->
  <div class="col-1">
    <span class="navbar-brand mb-0 h1 title pointer"
          [ngClass]="loader ? 'color-white' : ''" [routerLink]="'/home'">UNICARD</span>
  </div>

  <div class="col-10 custom-progress-bar"
       *ngIf="progressBar >= 1 && progressBar <= 4 && route !== '/orders'">
    <div class="steps">
      <span class="mr-4" style="color: #8D8D8E; font-size: 14px" *ngIf="progressBar == 1">1</span>
      <span class="mr-4" style="color: #8D8D8E; font-size: 14px" *ngIf="progressBar == 2">2</span>
      <span class="mr-4" style="color: #8D8D8E; font-size: 14px" *ngIf="progressBar == 3">3</span>
      <span class="mr-4" style="color: #8D8D8E; font-size: 14px" *ngIf="progressBar == 4">4</span>
      <svg height="2px">
        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#ECECEC;stroke-width:5"/>
        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:rgba(255, 255, 255, 0.12);stroke-width:5" *ngIf="loader" />
        <line x1="0" y1="0" x2="25%" y2="0" style="stroke:#FBDE4B ;stroke-width:5" *ngIf="progressBar == 1"/>
        <line x1="0" y1="0" x2="50%" y2="0" style="stroke:#FBDE4B ;stroke-width:5" *ngIf="progressBar == 2"/>
        <line x1="0" y1="0" x2="75%" y2="0" style="stroke:#FBDE4B ;stroke-width:5" *ngIf="progressBar == 3"/>
        <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#FBDE4B ;stroke-width:5" *ngIf="progressBar == 4"/>
      </svg>
      <span class="ml-4" style="color: #8D8D8E; font-size: 14px">4</span>
    </div>
  </div>

  <div class="col-10 text-center user-nav" *ngIf="isAuthenticated && (route === '/orders' || route === '/settings')">
    <span class="mr-4 profile-link pointer" [routerLink]="'/orders'" routerLinkActive="profile-link-active">МОИ ЗАКАЗЫ</span>
    <span class="ml-4 profile-link pointer" [routerLink]="'/settings'" routerLinkActive="profile-link-active">НАСТРОЙКИ</span>
  </div>

  <div class="col-1">
    <div class="d-flex justify-content-end">
      <div *ngIf="isAuthenticated" class="pointer d-flex">
        <img
          src="assets/profile-avatar.svg"
          alt="no-profile" class="profile-svg">
        <button class="btn btn-login ml-4 logout" (click)="logout()">Выйти</button>
      </div>
      <button class="btn btn-login" *ngIf="!isAuthenticated"
              [ngClass]="loader ? 'black-theme' : ''" [routerLink]="'/auth/login'" (click)="toLogin()">Войти</button>
    </div>
  </div>
  <!--  </div>-->
</nav>
