.register {
  text-align: center;
  margin-top: 100px;
  height: 600px;
}

.input-large {
  width: 592px;
}

.welcome {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

.instruction {
  color: #8D8D8E;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

form {
  display: inline-block;
}

.form-group {
  position: relative;
}

.form-control {
  height: 56px;
  padding: 18px 24px;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none;
}

label {
  position: absolute;
  left: 24px;
  top: 15px;
  transition: all 0.3s;
  color: #999;
  font-weight: normal;
}


.input-active {
  padding: 30px 24px 10px;
}

.label-active {
  left: 24px;
  top: 10px;
  font-size: 12px
}

.form-control-simple {
  padding: 18px 50px;
}

.form-control-simple:focus {
  outline: 0;
}

.phone-label {
  position: absolute;
  top: 16px;
  color: black;
}

.error-text {
  text-align: right;
  color: red;
  font-size: 18px;
}

.primary-btn {
  background-color: #FBDE4B;
  padding: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: none;
  margin: 20px 0 0;
  width: 100%;
}

.black-btn {
  background-color: black;
  padding: 16px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: none;
  margin: 20px 0 0;
  width: 100%;
}

.form-check-label {
  font-size: 14px;
}

.custom-control-label {
  line-height: 24px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: black;
  background-color: black;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: black;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.2rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .welcome {
    font-size: 32px;
  }
  .instruction {
    font-size: 13px;
  }

  .form-control {
    font-size: 0.8rem;
    height: 44px;
  }

  .form-control-simple {
    padding: 18px 45px;
  }

  .phone-label {
    top: 13px;
    font-size: 0.8rem;
  }

  .input-active {
    padding: 21px 24px 10px;
  }

  .label-active {
    left: 27px;
    font-size: 7px;
  }

  .primary-btn {
    padding: 9px;
    font-size: 15px;
  }

  .black-btn {
    padding: 9px;
    font-size: 15px;
  }

  .input-large {
    width: 100%;
  }
}

