<div class="custom-layout" *ngIf="!mainInfoEntered">


  <!--  form -->
  <div class="register align-content-center">
    <div class="error-text text-center" *ngIf="errorDesc">
      <p class="mb-0">*{{errorDesc}}</p>
    </div>
    <span class="welcome">Добро пожаловать</span>
    <p class="instruction mt-3">Заполните анкету, чтобы мы могли предоставить вам рассрочку</p>

    <div class="form-group">
      <input type="text" class="form-control input-large" [(ngModel)]="application.Data.Cust_fullname"
             id="inputName" autocomplete="off" placeholder="Введите ФИО">
    </div>

    <div class="form-group">
      <input type="email" class="form-control input-large" [(ngModel)]="application.Data.Email"
             id="email" autocomplete="off" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="phone" style="color: black" class="phone-label">+7</label>
      <input type="text" class="form-control form-control-simple input-large" [(ngModel)]="application.Data.PhoneNumber"
             id="phone" autocomplete="off" placeholder="Мобильный номер телефона" maxlength="10" (input)="isDigitPhone()">
    </div>

<!--    <div class="form-group">-->
<!--&lt;!&ndash;      <input type="text" class="form-control custom-input-large form-control-sample" [(ngModel)]="phone" [ngClass]="isPhoneFocused ? 'phone-active' : ''"&ndash;&gt;-->
<!--&lt;!&ndash;             (focus)="isPhoneFocused = true"&ndash;&gt;-->
<!--&lt;!&ndash;             (blur)="(this.phone === '' || !this.phone) ? isPhoneFocused = false : ''"&ndash;&gt;-->
<!--&lt;!&ndash;             id="phone" autocomplete="off">&ndash;&gt;-->
<!--&lt;!&ndash;      <label class="phone-label" for="phone" [ngClass]="isPhoneFocused ? 'label-active' : ''">Мобильный номер телефона</label>&ndash;&gt;-->
<!--      <label for="phone" style="color: black" class="phone-label">+7</label>-->
<!--      <input type="number" class="form-control-simple" [(ngModel)]="application.Data.PhoneNumber"-->
<!--             id="phone" autocomplete="off" placeholder="Мобильный номер телефона">-->
<!--    </div>-->

    <div class="form-group">
      <input type="password" class="form-control input-large" [(ngModel)]="application.Data.Cust_pwd"
             id="password" autocomplete="off" placeholder="Придумайте пароль">
    </div>


    <button class="primary-btn" [disabled]="!isAgreed" (click)="toNextForm()">Продолжить</button>

    <div class="form-check custom-checkbox">
      <input class="custom-control-input" type="checkbox" id="agreement" (click)="agree()"/>
      <label class="form-check-label custom-control-label mr-3" for="agreement">
        Я согласен с <a style="color: black; font-weight: bold; cursor: pointer" (click)="openConfFile()">политикой конфиденциальности</a>
        и даю <a style="color: black; font-weight: bold; cursor: pointer" (click)="openPersonalDataHandleFile()">пользовательское соглашение</a>
      </label>
    </div>
  </div>
</div>

<div class="custom-layout" *ngIf="mainInfoEntered">
  <!-- form -->
  <div class="register align-content-center">
    <div class="error-text text-center" *ngIf="errorDesc">
      <p class="mb-0">*{{errorDesc}}</p>
    </div>
    <span class="welcome mb-2">Заполните данные</span>

    <div class="form-group mt-3">
      <input type="text" class="form-control input-large" [(ngModel)]="application.Data.IIN"
             id="iin" autocomplete="off" placeholder="ИИН" maxlength="12" (input)="isDigitIIN()">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-large" [(ngModel)]="application.Data.Cust_idno"
             id="idNumber" autocomplete="off" placeholder="Номер удостоверения личности" maxlength="9" (input)="isDigitIDNo()">
    </div>

    <div class="form-group">
      <input type="text" class="form-control input-large" [(ngModel)]="application.Data.Cust_idissuer"
             id="issued" autocomplete="off" placeholder="Кем выдано" maxlength="15">
    </div>

    <div class="form-group">
      <input type="date" max="9999-12-31" class="form-control input-large input-active" [(ngModel)]="application.Data.Cust_idexpire"
             id="expireDate" autocomplete="off">
      <label for="expireDate" class="label-active">Срок действия</label>
    </div>

    <div class="form-group">
      <input type="date" max="9999-12-31" class="form-control input-large input-active" [(ngModel)]="application.Data.BirthDate"
             id="birthDate" autocomplete="off">
      <label for="birthDate" class="label-active">День рождения</label>
    </div>

    <div class="">
      <button class="black-btn" (click)="back()">Назад</button>
      <button class="primary-btn" (click)="sendApplication()">Продолжить</button>
    </div>

  </div>
</div>

