<div class="custom-layout">
  <div class="mt-5">
    <div class="decision-status text-center">
      <div class="error-text mt-4" *ngIf="error">
        <span>*{{error}}</span>
      </div>
      <span style="font-size: 40px; font-weight: bold;">Ваша рассрочка одобрена</span>
    </div>
    <div class="decision-box mx-auto">

      <div class="d-flex justify-content-between">
        <div class="d-flex float-left">
          <!--          <div class="status-img">-->
          <!--            <img src="assets/decision-success.svg" alt="" width="75" height="75">-->
          <!--          </div>-->
          <div>
            <h4 class="product-name font-weight-bold ml-3">{{product?.Description}}</h4>
            <p class="date-1 ml-3 mt-2">до {{product?.DateClose}}</p>
          </div>
        </div>

        <div class="payment-box text-right">
          <span class="price font-weight-bold">{{product?.Price | stringPrice}} ₸</span>
          <p class="pay-count"> {{payed}} из 3 платежей</p>
        </div>
      </div>

      <div class="payment-progress mt-3 d-flex justify-content-center">
        <div class="bar mx-1" [ngClass]="payed >= 1 ? 'bg-yellow' : 'bg-light-gray'"></div>
        <div class="bar mx-1" [ngClass]="payed >= 2 ? 'bg-yellow' : 'bg-light-gray'"></div>
        <div class="bar mx-1" [ngClass]="payed >= 3 ? 'bg-yellow' : 'bg-light-gray'"></div>
        <!--        <div class="bar mx-1" [ngClass]="payed >= 4 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
        <!--        <div class="bar mx-1" [ngClass]="payed >= 5 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
        <!--        <div class="bar mx-1" [ngClass]="payed >= 6 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
      </div>

      <div class="info mt-5 d-flex justify-content-between">
        <p class="info-key">Срок рассрочки</p>
        <hr>
        <span class="font-weight-bold">{{product?.Term}}</span>
      </div>

      <div class="info d-flex justify-content-between">
        <p class="info-key">Дата окончания</p>
        <hr>
        <span class="font-weight-bold">{{product?.DateClose}}</span>
      </div>

      <div class="info d-flex justify-content-between">
        <p class="info-key">Первый платеж</p>
        <hr>
        <span class="font-weight-bold">{{product?.SumPayment | stringPrice}} ₸</span>
      </div>

      <div class="text-center mt-5">
        <button class="success-btn bg-yellow" data-toggle="modal" (click)="getPayLink()" data-target="#exampleModal">
          Оплатить
        </button>
<!--        <button class="success-btn bg-yellow" data-toggle="modal" data-target="#newModal">-->
<!--          test-->
<!--        </button>-->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--&lt;!&ndash;  <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>&ndash;&gt;-->
<!--  <div class="modal-dialog" role="document" style="height: 120%">-->
<!--    <div class="modal-content" style="height: 100%">-->
<!--      <div id="dialog">-->
<!--        <button (click)="close()">close</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
  <div class="modal-dialog" role="document" style="height: 120%">
    <div class="modal-content" style="height: 100%" *ngIf="payLink">
      <div id="dialog">
        <iframe class="frame"
                [src]="payLink | safe" frameborder="0"
                width="800px" height="100%"></iframe>
      </div>
    </div>
    <div class="modal-content" style="height: 60%" *ngIf="!payLink">
      <div id="dialog" *ngIf="!payLink" class="custom-layout">
        <div class="loader mx-auto">
        </div>
      </div>
      <div id="dialog" *ngIf="!payLink && payError" class="custom-layout">
        <span>
          {{payError}}
        </span>
      </div>
    </div>
  </div>
</div>
