
.decision-box {
  margin: 30px 0 0;
  width: 592px;
  height: 395px;
  background-color: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 32px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.status-img {
  width: 75px;
  height: 75px;
}

img {
  border-radius: 75px;
}

.product-name {
  font-size: 22px;
  width: 180px;
  margin-bottom: 0;
}

.date-1 {
  font-size: 14px;
  line-height: 20px;
  color: #8D8D8E;
  font-weight: bold;
}

.error-text {
  color: red;
  font-size: 24px;
}

.price {
  font-size: 22px;
}

.pay-count {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #8D8D8E;
}

.payment-box {
  width: 216px;
}

.bar {
  border-radius: 4px;
  width: calc(3 * 81.67px);
  height: 4px;
}

.bg-yellow {
  background-color: #FBDE4B;
}

.bg-light-gray {
  background-color: #ECECEC;
}

.bg-white {
  background-color: #FFFFFF;
}

.info {
  font-size: 14px;
  line-height: 70%;
}

.info-key {
  font-size: 14px;
  color: #8D8D8E;
}

.info-value {
  font-size: 14px;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 2px dotted lightgray;
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 57%;
  margin: 7px 2px 4px;
}

.success-btn {
  width: 100%;
  padding: 16px 20px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 0;
}

.fail-btn {
  width: 100%;
  background: #FFFFFF;
  padding: 16px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 1px solid #ECECEC;
}

.agreement {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;

  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #ECECEC;
}

.agreement:hover {
  text-decoration: none;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #F6F6F6;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1010
}

.loader {
  font-size: 10px;

  text-indent: -9999em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(from 90deg at 50% 50%,
    rgba(251, 222, 75, 0.0001) 0deg, #FBDE4B 359.96deg, rgba(251, 222, 75, 0.0001) 360deg);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:after {
  background: white;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.box-loader {
  width: 696px;
  height: 540px;
  background-color: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}
