<!--<div class="partners-title mx-auto" id="partners">-->
<!--  Список партнеров-->
<!--</div>-->

<!--<div class="cards row justify-content-start">-->
<!--  <div class="col-4 text-center pointer">-->
<!--    <div class="item py-7">-->
<!--&lt;!&ndash;      <img src="assets/pictures/partners/technodom.svg" alt="partner">&ndash;&gt;-->
<!--      <span class="soon">Coming soon</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-4 text-center">-->
<!--    <div class="item py-7 pointer">-->
<!--&lt;!&ndash;      <img src="assets/pictures/partners/mechta.png" alt="partner">&ndash;&gt;-->
<!--      <span class="soon">Coming soon</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-4 text-center">-->
<!--    <div class="item py-7 pointer">-->
<!--&lt;!&ndash;      <img src="assets/pictures/partners/belyi_veter.png" alt="partner">&ndash;&gt;-->
<!--      <span class="soon">Coming soon</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-4 text-center mt-5">-->
<!--    <div class="item py-7 pointer">-->
<!--&lt;!&ndash;      <img src="assets/pictures/partners/kimex.png" alt="partner">&ndash;&gt;-->
<!--      <span class="soon">Coming soon</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-4 text-center mt-5">-->
<!--    <div class="item py-7 pointer">-->
<!--&lt;!&ndash;      <img src="assets/pictures/partners/intertop.png" alt="partner">&ndash;&gt;-->
<!--      <span class="soon">Coming soon</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-4 text-center mt-5">-->
<!--    <div class="item py-7 pointer">-->
<!--&lt;!&ndash;      <img src="assets/pictures/partners/club_1s.png" alt="partner">&ndash;&gt;-->
<!--      <span class="soon">Coming soon</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="partnership">
  <div class="offer">
    <p class="partnership-title">Станьте партнером Unicard уже сейчас</p>
  </div>
  <button class="btn btn-offer" [routerLink]="'/business'">Перейти</button>
</div>
