.partners-title {
  margin: 130px auto 0;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #000000;
  text-align: left;
  width: 95%;
}

.cards {
  margin-top: 60px;
}

.row {
  margin-right: 0!important;
  margin-left: 0!important;
}

.item{
  border: 1px solid #E2E3E6;
  box-sizing: border-box;
  border-radius: 12px;
  height: 172px;
  vertical-align: auto;
}

.partnership {
  margin: 50px auto 0;
  height: 400px;
  width: 95%;
  border-radius: 24px;
  padding: 32px;
  background: linear-gradient(rgba(58, 58, 58, 0.32), rgba(58, 58, 58, 0.32)),
  url('/assets/pictures/partnership.png') left center;
}

.offer {
  color: white;
  width: 600px;
  font-size: 56px;
  line-height: 60px;
  font-weight: 600;
}

.btn-offer {
  background-color: #FBDE4B;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 12px;
  margin-top: 4rem;
}

.py-7 {
  padding: 4rem 0;
}

.py-6 {
  padding: 3.5rem 0;
}

.soon {
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 790px) {
  .partnership {
    height: 276px;
    width: 90%;
  }

  .offer {
    width: 300px;
  }

  .partnership-title {
    font-size: 32px;
    line-height: 36px;
  }

  .btn-offer {
    padding: 12px 32px;
  }

  .partners-title {
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
    width: 90%;
  }

  .btn-offer {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .partnership-title {
    width: 250px;
  }

  .offer {
    width: 250px;
  }
}
