<div class="custom-layout">
  <div *ngIf="description" class="mt-5">
    <div class="decision-status text-center">
      <div class="error-text mt-4" *ngIf="error">
        <span>*{{error}}</span>
      </div>
      <span class="title">Ваша рассрочка одобрена</span>
    </div>
    <div class="decision-box mx-auto">

      <div class="d-flex justify-content-between">
        <div class="d-flex float-left">
<!--          <div class="status-img">-->
<!--            <img src="assets/decision-success.svg" alt="" width="75" height="75">-->
<!--          </div>-->
          <div>
            <h4 class="product-name font-weight-bold">{{description}}</h4>
          </div>
        </div>

        <div class="payment-box ">
          <span class="price font-weight-bold">{{price | numberFormat}} ₸</span>
          <p class="pay-count"> {{payed}} из 3 платежей</p>
        </div>
      </div>

      <div class="mobile-payment-box mt-3 d-flex justify-content-between" >
        <p class="mobile-price font-weight-bold">{{price | numberFormat}} ₸</p>
        <span class="mobile-pay-count">{{payed}} из 3 платежей</span>
      </div>

      <div class="payment-progress mt-2 d-flex justify-content-center">
        <div class="bar mx-1" [ngClass]="payed >= 1 ? 'bg-yellow' : 'bg-light-gray'"></div>
        <div class="bar mx-1" [ngClass]="payed >= 2 ? 'bg-yellow' : 'bg-light-gray'"></div>
        <div class="bar mx-1" [ngClass]="payed >= 3 ? 'bg-yellow' : 'bg-light-gray'"></div>
<!--        <div class="bar mx-1" [ngClass]="payed >= 4 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
<!--        <div class="bar mx-1" [ngClass]="payed >= 5 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
<!--        <div class="bar mx-1" [ngClass]="payed >= 6 ? 'bg-yellow' : 'bg-light-gray'"></div>-->
      </div>

      <div class="info mt-5 d-flex justify-content-between">
        <p class="info-key">Срок рассрочки</p>
        <p class="mobile-info-key">Срок рассрочки</p>
        <p class="line">
          .....................................................................</p>
        <p class="mobile-line">.................</p>
        <span class="">{{term}}</span>
      </div>

      <div class="info d-flex justify-content-between">
        <p class="info-key">Дата первого платежа</p>
        <p class="mobile-info-key">Дата платежа</p>
        <p class="line">
          ...........................................................</p>
        <p class="mobile-line">.................</p>
        <span class=" text-right">{{datePayment}}</span>
      </div>

      <div class="info d-flex justify-content-between">
        <p class="info-key">Первый платеж</p>
        <p class="mobile-info-key">Первый платеж</p>
        <p class="line">
          ......................................................................</p>
        <p class="mobile-line">.................</p>
        <span class="">{{sumPayment | numberFormat}} ₸</span>
      </div>

      <div class="d-flex mt-2">
        <img src="assets/Vector.svg" alt="" class="link-icon mr-1">
        <a (click)="openFile()" class="agreement">Договор.pdf</a>
      </div>

      <div class="text-center mt-4">
        <button class="success-btn bg-yellow" (click)="toContract()">Подписать договор</button>
      </div>
    </div>
  </div>
</div>
