
.decision-box {
  margin: 30px 0 0;
  width: 592px;
  background-color: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 32px;
}

.mobile-payment-box, .mobile-price, .mobile-pay-count{
  display: none;
}


.decision-status .title{
  font-size: 40px;
  font-weight: bold;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.status-img {
  width: 75px;
  height: 75px;
}

img {
  border-radius: 75px;
}

.product-name {
  font-size: 22px;
  width: 180px;
  margin-bottom: 0;
}

.date-1 {
  font-size: 14px;
  line-height: 20px;
  color: #8D8D8E;
  font-weight: bold;
}

.error-text {
  color: red;
  font-size: 24px;
}

.price {
  font-size: 22px;
}

.pay-count {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #8D8D8E;
}

.payment-box {
  width: 216px;
  text-align: right;

}

.line {
  font-weight: 300;
  font-size: 14px;
  line-height: 3px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8D8D8E;

  opacity: 0.24;
}

.bar {
  border-radius: 4px;
  width: calc(3*81.67px);
  height: 4px;
}

.bg-yellow {
  background-color: #FBDE4B;
}

.bg-light-gray {
  background-color: #ECECEC;
}

.bg-white {
  background-color: #FFFFFF;
}

.info {
  font-size: 14px;
  line-height: 70%;
}

.info-key {
  font-size: 14px;
  color: #8D8D8E;
}
.info span{
  font-weight: bold;
}
.info-value {
  font-size: 14px;
  font-weight: bold;
}

hr {
  border:none;
  border-top: 2px dotted lightgray;
  color:#fff;
  background-color:#fff;
  height: 1px;
  width: 57%;
  margin: 7px 2px 4px;
}

.success-btn {
  width: 100%;
  padding: 16px 20px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 0;
}

.fail-btn {
  width: 100%;
  background: #FFFFFF;
  padding: 16px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 1px solid #ECECEC;
}

.agreement {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;

  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #ECECEC;
}

.agreement:hover {
  text-decoration: none;
}

.mobile-line {
  display: none;
}

.mobile-info-key{
  display: none;
}

@media screen and (max-width: 1424px) {

  .success-content {
    margin-top: 80px;
  }
  .decision-status .title{
    font-size: 36px;
  }

  .decision-box {
    width: 634px;
  }

}


@media screen and (max-width: 768px) {

  .success-content {
    margin-top: 140px;
  }
  .decision-status .title{
    font-size: 27px;
  }

  .decision-box {
    width: 304px;
    padding: 20px;

  }

  .product-name {
    font-size: 20px;
  }

  .line{
    display: none;
  }

  .mobile-line {
    font-weight: 300;
    font-size: 14px;
    line-height: 3px;

    display: flex;
    letter-spacing: 0.02em;
    color: #8D8D8E;
    opacity: 0.24;
  }

  .mobile-info-key{
    display: flex;
    font-size: 14px;
    color: #8D8D8E;
  }
  .info-key{
    display: none;
  }

  .success-btn{
    width: 90%;
    height: 42px;
    padding: 9px 42px 13px 42px;
    font-size: 14px;
    font-weight: lighter;
  }

  .mobile-price {
    font-size: 20px;
  }

  .mobile-pay-count {
    font-size: 14px;
    margin-top: 5px;
  }

  .payment-box, .price, .pay-count{
    display: none;
  }

  .mobile-payment-box, .mobile-price, .mobile-pay-count{
    display: flex;
  }

  .info span{
    font-weight: normal;
  }
}


@media screen and (max-width: 380px) {
  .decision-status .title{
    font-size: 27px;
  }

  .decision-box {
    width: 304px;
    padding: 20px;

  }

  .product-name {
    font-size: 20px;
  }

  .line{
    display: none;
  }

  .mobile-line {
    font-weight: 300;
    font-size: 14px;
    line-height: 3px;

    display: flex;
    letter-spacing: 0.02em;
    color: #8D8D8E;
    opacity: 0.24;
  }

  .mobile-info-key{
    display: flex;
    font-size: 14px;
    color: #8D8D8E;
  }
  .info-key{
    display: none;
  }

  .success-btn{
    width: 90%;
    height: 42px;
    padding: 9px 42px 13px 42px;
    font-size: 14px;
    font-weight: lighter;
  }

  .mobile-price {
    font-size: 20px;
  }

  .mobile-pay-count {
    font-size: 14px;
    margin-top: 5px;
  }

  .payment-box, .price, .pay-count{
    display: none;
  }

  .mobile-payment-box, .mobile-price, .mobile-pay-count{
    display: flex;
  }

  .info span{
    font-weight: normal;
  }
}

