.instruction-title {
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #000000;
  margin: 100px auto 0;
  width: 95%;
}

.content {
  //height: 609px;
  width: 95%;
  margin: 50px auto 0;
}

.instruction-img {
  background-color: #F6F6F6;
  padding: 35px 0;
  border-radius: 12px;
  //animation: fadeIn 1.5s;
  //-webkit-animation: fadeIn 1.5s;
  //-moz-animation: fadeIn 1.5s;
  //-o-animation: fadeIn 1.5s;
  //-ms-animation: fadeIn 1.5s;
}

//@keyframes fadeIn {
//  0% {opacity:0;}
//  100% {opacity:1;}
//}

//.instruction-content {
//  animation: fadeIn 1.5s;
//  -webkit-animation: fadeIn 1.5s;
//  -moz-animation: fadeIn 1.5s;
//  -o-animation: fadeIn 1.5s;
//  -ms-animation: fadeIn 1.5s;
//}

.info {
  padding: 80px 40px;
}

.step-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 1000;
  color: #3A3A3A;
  height: 140px;
}

.step-content {
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: #8D8D8E;
  height: 220px;
}

.step {
  font-size: 28px;
  line-height: 32px;
  font-weight: normal;
  color: #8D8D8E;
}

.active {
  color: #3A3A3A;
}

svg {
  position: relative;
  margin-bottom:10px;
}

a:hover {
  text-decoration: none;
}

a {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .step-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 1000;
    color: #3A3A3A;
    height: 110px;
  }

  .instruction-title {
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
    width: 90%;
  }

  .step-content {
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    height: 230px;
  }

  .step {
    font-size: 16px;
    font-weight: normal;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }

  .info {
    padding: 40px 15px;
  }

  svg {
    width: 45px;
    line-height: 20px;
    margin-bottom: 0;
  }

  img {
    width: 150px;
    height: 306px;
  }
}
