<div class="instruction-title">
  Как это работает
</div>

<div class="row content">
  <div class="col instruction-img text-center" *ngIf="instructionStep == 1">
    <img src="assets/pictures/instruction/in1.png" alt="iphone">
  </div>
  <div class="col instruction-img text-center" *ngIf="instructionStep == 2">
    <img src="assets/pictures/instruction/in2.png" alt="iphone">
  </div>
  <div class="col instruction-img text-center" *ngIf="instructionStep == 3">
    <img src="assets/pictures/instruction/in3.png" alt="iphone">
  </div>
  <div class="col instruction-img text-center" *ngIf="instructionStep == 4">
    <img src="assets/pictures/instruction/in4.png" alt="iphone">
  </div>
  <div class="col info">
    <div *ngIf="instructionStep == 1" class="instruction-content">
      <p class="step-title">Сформируйте корзину на сайте партнеров</p>
      <p class="step-content"></p>
    </div>
    <div *ngIf="instructionStep == 2" class="instruction-content">
      <p class="step-title">Выберете способ оплаты Unicard</p>
      <p class="step-content">При оформлении заказа у наших партнеров выберете способ оплаты товара – в рассрочку от Unicard</p>
    </div>
    <div *ngIf="instructionStep == 3" class="instruction-content">
      <p class="step-title">Введите данные банковской карты</p>
      <p class="step-content">Заполните данные ваши кредитной или дебетовой карты</p>
    </div>
    <div *ngIf="instructionStep == 4" class="instruction-content">
      <p class="step-title">Оплачивайте покупки тремя равными платежами!</p>
      <p class="step-content">Моментальное одобрение заявки и максимально доступный способ оплаты. Первый платеж списывается при покупке, оставшиеся два платежа через каждые три недели без комиссии и переплат!</p>
    </div>

    <div class="steps">
      <a class="step pr-3" (click)="stepOne()" [ngClass]="instructionStep == 1 ? 'active':''">1</a>
      <svg height="1" width="90" class="mx-4" *ngIf="instructionStep == 1">
        <line x1="0" y1="0" x2="90" y2="0" style="stroke:#000000;stroke-width:2"/>
      </svg>
      <a class="step px-3" (click)="stepTwo()" [ngClass]="instructionStep == 2 ? 'active':''">2</a>
      <svg height="1" width="90" class="mx-4" *ngIf="instructionStep == 2">
        <line x1="0" y1="0" x2="90" y2="0" style="stroke:#000000;stroke-width:2"/>
      </svg>
      <a class="step px-3" (click)="stepThree()" [ngClass]="instructionStep == 3 ? 'active':''">3</a>
      <svg height="1" width="90" class="mx-4" *ngIf="instructionStep == 3 || instructionStep == 4">
        <line x1="0" y1="0" x2="90" y2="0" style="stroke:#000000;stroke-width:2"/>
      </svg>
      <a class="step px-3" (click)="stepFour()" [ngClass]="instructionStep == 4 ? 'active':''">4</a>
<!--      <a class="step pl-3">5</a>-->
    </div>
  </div>
</div>
