.pt-10 {
  padding-top: 120px;
}

.block {
  width: 592px;
  margin-left: 424px;
  margin-right: 424px;
  margin-bottom: 60px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px
}

.paragraph-title {
  margin-top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.02em;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.custom-footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 160px;
  background: #F6F6F6;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);;
}

.agreement {
  margin: 0 auto;
  width: 45%;
}

.form-check-label {
  font-size: 14px;
  color: #999999;
}

.primary-btn {
  background-color: #FBDE4B;
  margin-top: 20px;
  padding: 16px 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: black;
  background-color: black;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: black;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.2rem;
}

.section-list {
  width: 282px;
  margin-left: 112px;
  position: absolute;
  cursor: pointer;
}

.section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 16px
}

.active-section {
  background: #FFFFFF;
  height: 44px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.section {
  height: 44px;
}
