.banner {
  margin-top: 16px;
  border-radius: 32px;
  height: 560px;
  width: 95%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //background-image: url('/assets/pictures/business.jpg');
  background: linear-gradient(0deg, rgba(58, 58, 58, 0.32), rgba(58, 58, 58, 0.32)), url('/assets/pictures/business.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 1rem 45px;
}

.banner-text {
  text-align: left;
  width: 725px;
  color: white;
  font-weight: 500;
  font-size: 76px;
  line-height: 96px;
  letter-spacing: -4px;
  z-index: 1;
}

.banner-button {
  margin-top: 24px;
  margin-left: 45px;
  padding: 16px 32px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 12px;
  border: 0;
}

.info {
  color: #ECECEC;
  font-size: 18px;
  line-height: 24px;
  width: 450px;
}

@media screen and (max-width: 1000px) {
  .banner-text {
    width: 650px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    height: 540px;
    padding: 1rem 25px;
    width: 90%;
  }
  .banner-text {
    width: 300px;
    font-size: 56px;
    line-height: 70px;
  }

  .info {
    font-size: 14px;
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .banner-text {
    width: 230px;
    font-size: 42px;
    line-height: 70px;
  }

  .info {
    font-size: 14px;
    width: 230px;
  }
}
