<div class="banner mx-auto">
  <div class="banner-text">
    Новый платежный сервис для интернет-магазинов
  </div>
<!--  <p class="info">Сервис оплаты покупок частями без документов и переплаты: ваши клиенты смогут делить сумму покупки на 4 части</p>-->
</div>

