<nav class="navbar justify-content-between px-5 pt-4">
  <div class="logo" [routerLink]="''">
    <img src="../../../assets/pictures/logo/unicard.svg" alt="logo">
  </div>
  <div class="nav-links">
    <a [routerLink]="'/about'" class="px-4" routerLinkActive="link-active">О НАС</a>
    <a [routerLink]="'/home'" routerLinkActive="link-active" class="px-4" (click)="partnersNav()">ПАРТНЕРЫ</a>
    <a class="px-4" [routerLink]="'/business'" routerLinkActive="link-active">ДЛЯ БИЗНЕСА</a>
    <a [routerLink]="'/contacts'" class="px-4" routerLinkActive="link-active">КОНТАКТЫ</a>
  </div>
  <div class="logo row">
    <button class="btn btn-login" *ngIf="!isAuthenticated" [routerLink]="'/auth/login'">Войти</button>
    <div *ngIf="isAuthenticated">
      <img
        src="assets/profile-avatar.svg"
        alt="no-profile" class="profile-svg pointer" [routerLink]="'/settings'">
      <button class="btn btn-login ml-4" (click)="logout()">Выйти</button>
    </div>
  </div>
</nav>
