.navbar {
  max-width: 1310px;
  position: relative;
  height: 80px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

.link-active {
  color: black;
}

.btn-login {
  background-color: black;
  color: white;
  border-radius: 12px;
  font-size: 18px;
  padding: 8px 20px;
}

a {
  color: #8D8D8E;
  font-size: 14px;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

.profile-svg {
  height: 40px;
  width: 40px;
  border-radius: 18px;
  vertical-align: middle;
}

@media screen and (max-width: 830px) {
  .nav-links {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
  }

  .navbar {
    padding: 10px 30px!important;
  }
}
