<div class="custom-layout">


  <div>
    <div class="text-center">
      <span class="title">Не одобрено</span>
      <p style="color: #8D8D8E" class="mt-1">Описание причины и просьба о действии...</p>
    </div>

    <div class="decision-box mx-auto">
      <div class="text-center">
        <button class="fail-btn bg-white" [routerLink]="'/home'">Перейти на главную</button>
      </div>
    </div>
  </div>
</div>
