<div *ngIf="showErrorAlert" (click)="hideErrorAlert()" class="error-popup">
  <img src="assets/Close.svg" alt="close" class="mr-2">
  <span style="color: white; font-size: 14px; line-height: 22px">{{error}}</span>
</div>
<div class="custom-layout">
  <div class="confirmation text-center">
    <label for="smsCodeOne" class="title">Подтвердите данные</label>
    <p class="instruction" *ngIf="counter >= 10">Введите код, отправленный на номер +{{phoneNum}}. Получить код повторно можно через: 00:{{counter}}</p>
    <p class="instruction" *ngIf="counter >= 0 && counter < 10">Введите код, отправленный на номер +{{phoneNum}}. Получить код повторно можно через: 00:0{{counter}}</p>
    <input type="text" [(ngModel)]="dOne" [ngClass]="focusableOne.value!=null && focusableOne.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableOne id="smsCodeOne" maxlength="1" (input)="focusableTwo.focus()" autocomplete="off"/>
    <input type="text" [(ngModel)]="dTwo" [ngClass]="focusableTwo.value!=null && focusableTwo.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableTwo id="smsCodeTwo" maxlength="1" (input)="focusableThree.focus()" (keyup.backspace)="focusableOne.focus()" autocomplete="off"/>
    <input type="text" [(ngModel)]="dThree" [ngClass]="focusableThree.value!=null && focusableThree.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableThree id="smsCodeThree" maxlength="1" (input)="focusableFour.focus()" (keyup.backspace)="focusableTwo.focus()" autocomplete="off"/>
    <input type="text" [(ngModel)]="dFour" [ngClass]="focusableFour.value!=null && focusableFour.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableFour id="smsCodeFour" maxlength="1" (input)="focusableFive.focus()" (keyup.backspace)="focusableThree.focus()" autocomplete="off"/>
    <input type="text" [(ngModel)]="dFive" [ngClass]="focusableFive.value!=null && focusableFive.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableFive id="smsCodeFive" maxlength="1" (input)="focusableSix.focus()" (keyup.backspace)="focusableFour.focus()" autocomplete="off"/>
    <input type="text" [(ngModel)]="dSix" [ngClass]="focusableSix.value!=null && focusableSix.value.length > 0 ? 'input-border-transparent':'input-border-dimgrey'" #focusableSix id="smsCodeSix" maxlength="1" (keyup.backspace)="focusableFive.focus()" autocomplete="off" (ngModelChange)="onCodeChange($event)" />
    <button class="resend-btn pb-01" (click)="resend()">Отправить код повторно </button>
    <!--    <button class="resend-btn pb-01" (click)="ErrorAlert()">Show error alert</button>-->

  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
