<footer class="footer" *ngIf="!loader">
  <!--  [ngClass]="route == '/loader' ? 'bg-black' : ''"-->
  <div class="footer-inner content row">
    <span class="col f-text">© 2021, Unicard</span>
    <div class="row col docs">
      <span class="col f-text mr-3 pointer" [routerLink]="'/confidentiality'">Конфиденциальность</span>
      <span class="col f-text ml-3 pointer" (click)="openOfferFile()">Публичная оферта</span>
    </div>
    <span class="col f-text phone-num"> </span>
  </div>

</footer>
