.footer {
  padding: 30px 50px;
  position: relative;
  width: 100%;
  height: 80px;
  left: 0;
  /*top: 90%;*/
  bottom: 0;
  z-index: 900;
  background-color: #F6F6F6;
}

.footer-inner {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.bg-black {
  background-color: black;
}

.phone-num {
  text-align: right;
}

.f-text {
  color: gray;
  font-size: 15px;
}

.footer > .content {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 767px) {
  .footer-inner {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .f-text {
      width: 100%;
      text-align: left;
      padding: 6px 0!important;
      margin: 0!important;
    }
  }

  .phone-num {
    text-align: left;
  }

  .row {
    flex-direction: column;
  }

  .docs {
    padding-left: 0;
    padding-right: 0;

    .col {
      margin: 0;
    }
  }
}


@media screen and (max-width: 1024px) {



}

@media screen and (max-width: 768px) {

  .f-text {
    font-size: 14px;
  }


}


@media screen and (max-width: 380px) {
  footer{
    visibility: hidden;
  }
}


