.advantages-title {
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #000000;
  margin: 100px auto 0;
  width: 95%;
}

.cards {
  margin-top: 60px;
}

.field {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 25px;
}

.card-title {
  margin-top: 50px;
  font-weight: 1000;
  font-size: 36px;
  line-height: 40px;
}

.info {
  color: #8D8D8E;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .row {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .advantage {
    margin: 0 auto;
    flex: 100%;
    max-width: 80%;
    padding: 20px 0;
  }

  .card-title {
    margin-top: 20px;
  }

  .advantages-title {
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
    width: 90%;
  }

}
