<div class="advantages-title">
    Выгодная покупка с Unicard
</div>

  <div class="cards row justify-content-start">
    <div class="col text-center advantage">
      <img src="../../../../../assets/pictures/advantages/shopping.svg" alt="shopping">
      <p class="card-title">Удобство</p>
      <p class="info">Мгновенное одобрение - вы сразу же узнаете статус Вашего заказа</p>
    </div>
    <div class="col text-center advantage">
      <img src="../../../../../assets/pictures/advantages/simplicity.svg" alt="simplicity">
      <p class="card-title">Простота</p>
      <p class="info">Оплата рассрочки по 3 частям: 1 оплата при покупке, последующие 2 через каждые 3 недели</p>
    </div>
    <div class="col text-center advantage">
      <img src="../../../../../assets/pictures/advantages/benefit.svg" alt="benefit">
      <p class="card-title">Выгода</p>
      <p class="info">Всегда нулевая комиссия, без процентов и переплат</p>
    </div>
  </div>

