<div class="content mx-auto">

  <div class="contacts my-3 mx-auto">
    <span class="title">Контакты</span>
    <div class="row mt-5 data">
      <div class="col text-center">
        <div class="image">
          <img src="assets/pictures/icons/telephone.svg" alt="phone" width="50" height="50">
        </div>
        <div class="mt-3">
          <span class="">Номер телефона</span>
          <p class="contact-value font-weight-bold">8 (727) 344 0964</p>
        </div>
      </div>
      <div class="col text-center">
        <div class="image">
          <img src="assets/pictures/icons/email.svg" alt="email" width="60" height="60">
        </div>
        <div class="mt-3">
          <span>Электронная почта</span>
          <p class="contact-value font-weight-bold">info@unicard.kz</p>
        </div>
      </div>
    </div>
  </div>

  <div class="requisites mx-auto">
    <span class="title">Реквизиты компании</span>

    <div class="req-data mt-4">
      <div>
        <span class="key">Юридический адрес</span>
        <p class="value">Республика Казахстан, Алматы, пр. Сейфуллина 410/78</p>
      </div>
      <div class="mt-4">
        <span class="key">БИН</span>
        <p class="value">210240016264</p>
      </div>
      <div class="mt-4">
        <span class="key">Обслуживающий банк</span>
        <p class="value">АО «Народный банк Казахстана»</p>
      </div>
      <div class="mt-4">
        <span class="key">ИИК (счета)</span>
        <p class="value">KZ186018861000428071</p>
      </div>
      <div class="mt-4">
        <span class="key">БИК</span>
        <p class="value">HSBKKZKX</p>
      </div>
      <div class="mt-4">
        <span class="key">Кбе </span>
        <p class="value">17</p>
      </div>
      <div class="mt-4">
        <span class="key">Валюта</span>
        <p class="value">KZT</p>
      </div>
    </div>
  </div>

</div>
