.content {
  max-width: 1216px;
}

.contacts {
  background-color: #F6F6F6;
  padding: 30px 60px;
  border-radius: 24px;
  width: 90%;
}

.title {
  font-size: 50px;
}

//.data {
//  padding: 0 150px;
//}

.image {
  height: 60px;
}

.requisites {
  height: 750px;
  width: 90%;
  padding: 30px 60px;
}

.key {
  font-size: 20px;
  color: #8D8D8E;
}

.value {
  font-size: 20px;
  font-weight: bold;
}

.req-data {
  margin-left: 20px;
}


@media screen and (max-width: 767px) {
  .title {
    font-size: 32px;
  }

  .contact-value {
    font-size: 12px;
  }

  .row {
    flex-direction: column;
  }

  .key, .value {
    font-size: 14px;
  }

  .req-data {
    margin-left: 0;
  }
}
