<div class="custom-layout">
  <!--  form -->
  <div class="register-1 align-content-center text-center">
    <span class="welcome">Восстановление пароля</span>
    <p class="instruction mt-3">Придумайте новый пароль для входа</p>

    <div class="form-group">
      <input class="form-control" [(ngModel)]="newPassword" type="password"
             id="new_password" autocomplete="off" placeholder="Введите новый пароль">
    </div>

    <div class="form-group">
      <input [type]="isPasswordVisible ? 'text' : 'password'"  class="form-control" [(ngModel)]="repeatPassword"
             id="repeat_password" autocomplete="off" placeholder="Повторите пароль">
      <button class="passwordVisibility" (click)="changePasswordVisibility()">
        <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3.02989 0.9697C2.737 0.676807 2.26212 0.676807 1.96923 0.9697C1.67634 1.26259 1.67634 1.73747 1.96923 2.03036L5.1898 5.25093C3.70984 6.21499 2.6073 7.38739 1.85393 8.52658C1.02982 9.77273 0.583008 11.0431 0.583008 12C0.583008 12.7449 0.853486 13.6683 1.3423 14.6069C1.83812 15.5588 2.58383 16.5759 3.59513 17.5094C5.62671 19.3847 8.72402 20.9167 12.9997 20.9167C15.5631 20.9167 17.7073 20.3659 19.4545 19.5156L22.9692 23.0304C23.2621 23.3233 23.737 23.3233 24.0299 23.0304C24.3228 22.7375 24.3228 22.2626 24.0299 21.9697L3.02989 0.9697ZM18.3234 18.3845L15.4275 15.4886C14.7393 15.9683 13.9017 16.25 12.9996 16.25C10.6524 16.25 8.74956 14.3472 8.74956 12C8.74956 11.0979 9.03133 10.2603 9.51098 9.57211L6.2772 6.33833C4.83961 7.21594 3.79435 8.31173 3.10508 9.35399C2.37392 10.4596 2.08301 11.4419 2.08301 12C2.08301 12.4217 2.25003 13.1025 2.67267 13.914C3.08832 14.712 3.72802 15.5907 4.61255 16.4072C6.37264 18.0319 9.10866 19.4167 12.9997 19.4167C15.1062 19.4167 16.8708 19.0109 18.3234 18.3845ZM10.5979 10.6591C10.3759 11.0557 10.2496 11.5127 10.2496 12C10.2496 13.5188 11.4808 14.75 12.9996 14.75C13.4869 14.75 13.9439 14.6237 14.3405 14.4017L10.5979 10.6591ZM12.9997 4.58333C11.7763 4.58333 10.6693 4.72023 9.67298 4.95687C9.26998 5.05258 8.86569 4.80347 8.76997 4.40047C8.67426 3.99747 8.92336 3.59318 9.32637 3.49746C10.4401 3.23294 11.6635 3.08333 12.9997 3.08333C17.2753 3.08333 20.3726 4.61526 22.4042 6.49057C23.4155 7.42407 24.1612 8.44117 24.657 9.39313C25.1459 10.3317 25.4163 11.2551 25.4163 12C25.4163 13.3682 24.5004 15.4317 22.7291 17.1978C22.4358 17.4902 21.9609 17.4895 21.6684 17.1962C21.376 16.9029 21.3767 16.428 21.67 16.1356C23.2698 14.5404 23.9163 12.8366 23.9163 12C23.9163 11.5783 23.7493 10.8975 23.3267 10.086C22.911 9.288 22.2713 8.40927 21.3868 7.59277C19.6267 5.96807 16.8907 4.58333 12.9997 4.58333Z"
                fill="black"/>
        </svg>
      </button>
    </div>

    <div *ngIf="errorStatus" class="error-text">
      <p>*{{errorStatus}}</p>
    </div>

    <button class="primary-btn" (click)="restorePassword()">Продолжить</button>

  </div>
</div>
