.register-1 {
  text-align: center;
  width: 550px;
}

.welcome {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 40px;
}

.instruction {
  color: #8D8D8E;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.forgot-password {
  color: #000000;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  float: right;
  margin-left: -25px;
  margin-top: -45px;
  position: relative;
  cursor: pointer;
}

form {
  display: inline-block;
}

.form-group {
  position: relative;
}

.form-control {
  height: 56px;
  padding: 18px 24px;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
}


.form-control-simple {
  width: 100%;
  height: 56px;
  padding: 18px 50px;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
  font-size: 16px;
}

label {
  position: absolute;
  left: 24px;
  top: 16px;
  transition: all 0.3s;
  font-weight: normal;
  font-size: 16px;
}

::placeholder {
  font-size: 16px;
}

.label-active {
  left: 24px;
  top: 10px;
  font-size: 12px
}

.primary-btn {
  background-color: #FBDE4B;
  margin-top: 20px;
  padding: 16px 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: none;
}

.form-check-label {
  font-size: 14px;
}

.passwordVisibility {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border-color: transparent;
  z-index: 2;
}

.staticSeven {
  background-color: transparent;
  border-color: transparent;
  float: left;
  margin-right: 25px;
  margin-top: -44px;
  position: relative;
  z-index: 2;
}

.error-text {
  text-align: right;
  color: #8D8D8E;
  font-size: 14px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.auth-status {
  padding: 15px 0 0 15px;
  color: red;
}

