.banner {
  margin-top: 60px;
  border-radius: 32px;
  height: 400px;
  width: 95%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: linear-gradient(rgba(58, 58, 58, 0.32), rgba(58, 58, 58, 0.32)),
  url('/assets/pictures/work.png');
  padding: 30px 45px;
}

.banner-text {
  text-align: left;
  width: 460px;
  color: white;
  font-weight: 500;
  font-size: 44px;
  line-height: 56px;
  z-index: 1;
}

.banner-button {
  margin-top: 24px;
  padding: 16px 32px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 12px;
  border: 0;
}

.info {
  margin-left: 45px;
  color: #ECECEC;
  font-size: 18px;
  line-height: 24px;
  width: 450px;
}

.custom-modal {
  margin-left: -100px;
  margin-top: -10px;
  width: 672px;
  height: 800px;
  background-color: white;
  padding: 40px 40px 72px;
  border-radius: 24px;
}

.header-modal {
  height: 40px;
}

.modal-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}

.light-gray {
  color: #8D8D8E;
}

.form-control {
  height: 56px;
  padding: 18px 24px;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
}

label {
  position: relative;
  bottom: 56px;
  left: 22px;
  color: black;
  font-weight: normal;
  font-size: 16px;
}

.error-text {
  position: absolute;
  color: red;
  font-size: 20px;
}

.input-active {
  padding: 30px 24px 10px;
}

.form-content {
  height: 500px;
}

::placeholder {
  font-size: 16px;
  color: #999;
  font-weight: normal;
}

#phone {
  padding-left: 50px;
  margin-bottom: -30px;
}

.phone-label {
  position: relative;
  bottom: 26px
}

input[type="text"], input[type="number"], input[type="email"] {
  font-weight: normal;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-yellow {
  background-color: #FBDE4B;
  width: 100%;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 12px;
  margin-top: 2.2rem;
}

.ignored {
  height: 0;
  width: 100%;
}

.modal-success {
  position: relative;
  bottom: 200px;
  right: 0;
  height: 340px;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 40px 30px 0;
}

.success-title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.success-info {
  font-size: 14px;
  line-height: 20px;
}

.dropdown {
  font-weight: normal;
  color: #999;
  padding: 0 20px;
}

option {
  color: black;
}

select {
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.dd {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 19px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px),
    calc(100% - 2.5em) 1.0em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

@media screen and (max-width: 693px) {
  .custom-modal {
    margin-left: -20px;
    margin-right: -22px;
    max-width: 594px;
    width: auto;
  }
}

@media screen and (max-width: 538px) {
  .custom-modal {
    margin-left: -20px;
    margin-right: -22px;
    max-width: 594px;
    width: auto;
    height: 820px;
  }
  .modal-title {
    font-size: 32px;
    line-height: 36px;
  }

  .light-gray {
    font-size: 14px;
  }

  .banner-button {
    //padding: 16px 32px;
    //background-color: #FBDE4B;
    //font-style: normal;
    //font-weight: 500;
    font-size: 14px;
  }
}


@media screen and (max-width: 312px) {
  .custom-modal {
    height: 850px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    height: 240px;
    width: 90%;
  }
  .banner-text {
    font-size: 26px;
    line-height: 36px;
    width: 240px;
  }

  .banner-button {
    padding: 12px 32px;
  }
}
