<div class="banner mx-auto">
  <div class="banner-text">
    Оставьте заявку и получите все преимущества
  </div>
  <div>
    <button class="banner-button" (click)="openVerticallyCentered(content)">Оставить заявку</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="custom-modal">
    <div class="header-modal">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <img src="assets/pictures/icons/X.svg" alt="X" aria-hidden="true">
      </button>
    </div>
    <div class="text-center">
      <div class="modal-title">Оставить заявку</div>
      <p class="mt-3 light-gray inter">Мы ответим вам в течении 3-х рабочих дней</p>
    </div>

    <div class="form-content">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="fullName" maxlength="40"
               autocomplete="off" placeholder="Ф.И.О" required>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="email" maxlength="40"
               autocomplete="off" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="phone" maxlength="10" (input)="isDigit()"
               id="phone" autocomplete="off" placeholder="Номер телефона">
      </div>
      <label for="phone" class="phone-label">+7</label>

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="companyName" maxlength="40"
               autocomplete="off" placeholder="Название компании">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="bin" maxlength="12" (input)="isDigit()"
               autocomplete="off" placeholder="БИН/ИИН компании">
      </div>

      <div class="form-group">
        <select name="towns" id="town" class="form-control dropdown dd" [(ngModel)]="town">
          <option *ngFor="let town of townList" [ngValue]="town">{{town}}</option>
        </select>
      </div>

      <div class="form-group">
        <select name="items" id="item" class="form-control dropdown dd" [(ngModel)]="item">
          <option *ngFor="let item of itemList" [ngValue]="item">{{item}}</option>
        </select>
      </div>

      <div *ngIf="error" class="text-center error-text">
        <span>*{{error}}</span>
      </div>

      <button class="btn btn-yellow" (click)="openSuccessModal(success, modal)">Продолжить</button>

    </div>
  </div>

</ng-template>

<ng-template #success let-modal1>
  <div class="ignored">
    <div class="modal-success text-center">
      <img src="assets/pictures/icons/check.svg" alt="success">
      <p class="success-title inter">Ваша заявка принята</p>
      <p class="light-gray success-info">Наш менеджер скоро с вами свяжется</p>

      <button class="btn btn-yellow mt-2" (click)="modal1.dismiss()">Готово</button>
    </div>
  </div>
</ng-template>

