<!--Отсрочка-->
<div class="custom-layout">
  <div class="delay">
    <div class="text-center">
      <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="80" height="80" rx="40" fill="#FBDE4B"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M48.095 27.7381H31.9046C29.854 27.7381 28.4238 27.7404 27.3447 27.8854C26.2965 28.0264 25.7414 28.2841 25.346 28.6795C24.9506 29.0749 24.6929 29.63 24.5519 30.6782C24.4069 31.7573 24.4046 33.1875 24.4046 35.2381V44.7619C24.4046 46.8125 24.4069 48.2426 24.5519 49.3217C24.6929 50.37 24.9506 50.9251 25.346 51.3204C25.7414 51.7158 26.2965 51.9736 27.3447 52.1145C28.4238 52.2596 29.854 52.2619 31.9046 52.2619H34.7571L31.9046 54.4047H31.8262C29.8725 54.4048 28.2977 54.4048 27.0592 54.2383C25.7734 54.0654 24.6907 53.6956 23.8308 52.8357C22.9709 51.9758 22.6011 50.8931 22.4282 49.6072C22.2617 48.3687 22.2617 46.794 22.2617 44.8403L22.2617 44.7619V35.2381L22.2617 35.1597C22.2617 33.206 22.2617 31.6312 22.4282 30.3927C22.6011 29.1068 22.9709 28.0242 23.8308 27.1643C24.6907 26.3044 25.7733 25.9346 27.0592 25.7617C28.2977 25.5952 29.8725 25.5952 31.8262 25.5952H31.9046L44.1666 25.5952L44.17 25.5952H48.095H48.1734C50.1271 25.5952 51.7019 25.5952 52.9404 25.7617C54.2263 25.9346 55.309 26.3044 56.1688 27.1643C57.0287 28.0242 57.3986 29.1068 57.5714 30.3927C57.7334 31.597 57.7378 33.1192 57.7379 34.9986L55.5951 36.6083V35.2381C55.5951 33.1875 55.5928 31.7573 55.4477 30.6782C55.3068 29.63 55.049 29.0749 54.6536 28.6795C54.2582 28.2841 53.7031 28.0264 52.6549 27.8854C51.5758 27.7404 50.1456 27.7381 48.095 27.7381ZM55.5951 36.6097L57.7379 35.0001V35.0232V35.1596V35.2381V44.7619V44.8403V44.9767V44.9999C57.7378 46.8799 57.7334 48.4026 57.5714 49.6072C57.3986 50.8931 57.0287 51.9758 56.1688 52.8357C55.309 53.6956 54.2263 54.0654 52.9404 54.2383C51.7019 54.4048 50.1271 54.4048 48.1734 54.4047H48.095L44.1697 54.4047L44.1666 54.4047H31.9046L34.7574 52.2619H44.1666L48.095 52.2619C50.1456 52.2619 51.5758 52.2596 52.6549 52.1145C53.7031 51.9736 54.2582 51.7158 54.6536 51.3204C55.049 50.9251 55.3068 50.37 55.4477 49.3217C55.5928 48.2426 55.5951 46.8125 55.5951 44.7619V36.6097ZM50.5392 40.4074L55.5951 36.6097V36.6083L50.5384 40.4069C49.9846 40.1459 49.3659 40 48.7132 40C47.7484 40 46.858 40.3188 46.1417 40.8568C45.4255 40.3188 44.5351 40 43.5703 40C41.2034 40 39.2846 41.9188 39.2846 44.2857C39.2846 45.6457 39.9181 46.8577 40.906 47.6428L34.7571 52.2619H34.7574L40.9063 47.6431C41.6378 48.2242 42.5635 48.5714 43.5703 48.5714C44.5351 48.5714 45.4255 48.2526 46.1417 47.7146C46.858 48.2526 47.7484 48.5714 48.7132 48.5714C51.0801 48.5714 52.9989 46.6526 52.9989 44.2857C52.9989 42.5719 51.9929 41.093 50.5392 40.4074ZM47.5377 42.6619C47.7429 43.1627 47.856 43.711 47.856 44.2857C47.856 45.6878 47.1827 46.9327 46.1417 47.7146C45.2708 47.0604 44.6572 46.0821 44.48 44.9587L47.5377 42.6619ZM44.4799 44.9581C44.4454 44.739 44.4275 44.5145 44.4275 44.2857C44.4275 42.8836 45.1008 41.6387 46.1417 40.8568C46.7558 41.3181 47.242 41.9405 47.5374 42.6612L44.4799 44.9581Z"
              fill="#151C22"/>
      </svg>
    </div>
    <div class="text-center mt-4">
      <b style="font-size: 24px">
        Получение отсрочки
      </b>
    </div>

    <div class="text-center info">
      <p>Вы получите отсрочку на 2 недели с этого дня. Обратите внимание, что срок следующего платежа будет изменен</p>
    </div>

    <div class="text-center mt-1">
      <button class="success-btn bg-yellow" style="width: 100%" (click)="openLoader()">Получить</button>
    </div>
    <div class="text-center mt-1">
      <button class="white-btn bg-yellow" style="width: 100%">Закрыть</button>
    </div>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>

