.delay {
  width: 384px;
  height: 420px;
  background-color: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 40px;
}

.decision-status {
  margin-top: 120px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.status-img {
  width: 75px;
  height: 75px;
}

img {
  border-radius: 75px;
}

.product-name {
  font-size: 22px;
  width: 180px;
  margin-bottom: 0;
}

.date-1 {
  font-size: 14px;
  line-height: 20px;
  color: #8D8D8E;
  font-weight: bold;
}

.price {
  font-size: 22px;
}

.pay-count {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #8D8D8E;
}

.payment-box {
  width: 216px;
}

.bar {
  border-radius: 4px;
  width: 81.67px;
  height: 4px;
}

.bg-yellow {
  background-color: #FBDE4B;
}

.bg-light-gray {
  background-color: #ECECEC;
}

.bg-white {
  background-color: #FFFFFF;
}

.info {
  font-size: 14px;
  color: #8D8D8E;
}

.info-key {
  font-size: 14px;
  color: #8D8D8E;
}

.info-value {
  font-size: 14px;
  font-weight: bold;
}

hr {
  border:none;
  border-top: 2px dotted lightgray;
  color:#fff;
  background-color:#fff;
  height: 1px;
  width: 57%;
  margin: 7px 2px 4px;
}

.success-btn {
  margin-top: 10px;
  padding: 16px 32px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 0;
}

.white-btn {
  margin-top: 8px;
  padding: 16px 32px;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 12px;
  border: 1px solid #ECECEC;
}

.fail-btn {
  background: #FFFFFF;
  padding: 16px 135px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 1px solid #ECECEC;
}

