.carousel-title {
  margin: 120px 0 40px;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #000000;
  text-align: left;
}

.row {
  margin-right: 0!important;
  margin-left: 0!important;
  margin-top: 50px;
}

.custom-carousel {
  display: flex;
  overflow-x: auto;
  width: 95%;
  margin: 50px auto;
}

.custom-carousel::-webkit-scrollbar {
  width: 0;
}

.custom-carousel-item {
  min-width: 382px;
  height: 252px;
  background-color: #F6F6F6;
  border-radius: 24px;
  padding: 25px;
}

.icon {
  height: 50px;
}

.info {
  position: relative;
  bottom: -100px;
  font-weight: 800;
}

@media screen and (max-width: 767px) {
  .carousel-title {
    margin: 50px auto 0;
    font-size: 32px;
    font-weight: bold;
    width: 90%;
  }

  .custom-carousel {
    flex-direction: column;
    max-width: 750px;
  }

  .custom-carousel-item {
    height: 160px;
    max-width: 100px;
    min-width: 282px;
    margin: 10px auto!important;
    border-radius: 12px;
  }

  .info {
    position: relative;
    bottom: -10px;
    font-weight: 800;
    font-size: 12px;
  }
}
