<div class="carousel-title mx-auto">
  Наши преимущества
</div>
<div class="custom-carousel">

  <div class="custom-carousel-item">
    <div class="icon">
      <img src="assets/pictures/icons/shopping.svg" alt="icon">
    </div>
    <p class="info">Учёт и автоматизация <br> покупок</p>
  </div>

  <div class="custom-carousel-item mx-3">
    <div class="icon">
      <img src="assets/pictures/icons/TrendUp.svg" alt="icon">
    </div>
    <p class="info">Увеличение <br> процента продаж</p>
  </div>

  <div class="custom-carousel-item mr-2">
    <div class="icon">
    <img src="assets/pictures/icons/Subtract.svg" alt="icon">
    </div>
    <p class="info">Возместим стоимость товара, <br>если потребитель перестанет платить</p>
  </div>

  <div class="custom-carousel-item mx-2">
    <div class="icon">
      <img src="assets/pictures/icons/Wallet.svg" alt="icon">
    </div>
    <p class="info">Ежедневные переводы <br>бизнесу поступивших средств</p>
  </div>

  <div class="custom-carousel-item mx-2">
    <div class="icon">
      <img src="assets/pictures/icons/ShieldCheck.svg" alt="icon">
    </div>
    <p class="info">Возместим стоимость товара, <br>если потребитель перестанет платить</p>
  </div>

</div>
