<div class="block">
  <span class="title">Договор</span>
  <p class="content_">Договор банковского обслуживания на Интернет-ресурсе «www.kaspi.kz»<br><br>
    Настоящий Договор банковского обслуживания на Интернет-ресурсе
    «www.kaspi.kz»,<br>
    заключается между: АО «Kaspi Bank», именуемым в дальнейшем «Банк»,<br>
    Клиентом Банка,<br>
    присоединившимся к Договору в порядке и на условиях, предусмотренных<br>
    Договором, с целью<br>
    определения условий оказания Клиенту банковского обслуживания на<br>
    Интернет-ресурсе<br>
    «www.kaspi.kz».<br>
    1. Термины и определения<br>
    1.1. Термины и определения, используемые для целей Договора, соглашений,<br>
    заключаемых в<br>
    рамках настоящего Договора, означают следующее:<br>
    1) Автооплата - услуга Банка, предоставляемая в рамках договоров,<br>
    заключенных между Клиентом и Банком;<br>
    2) Акцепт – действия Клиента, совершение которых подтверждает намерение<br>
    Клиента<br>
    заключить Договор, в т.ч. ввод информации, запрашиваемый при открытии сайта<br>
    Интернетресурса «www.kaspi.kz», а также действия по заключению с Банком<br>
    договоров банковских займов и/или банковских услуг, в том числе по договорам,<br>
    заключенным в соответствии с примерными условиями договоров банковского обслуживания,<br>
    размещенными в печати, или договорами присоединения,<br>
    опубликованными на сайте Банка.<br>
    В отношении отдельных видов услуг Договором<br>
    может быть предусмотрен иной порядок его заключения;</p>
</div>
<div class="custom-footer position-fixed p-3">
  <div class="agreement">
    <div class="form-check custom-control custom-checkbox d-flex justify-content-start">
      <input class="custom-control-input mr-2 mt-1" type="checkbox" id="agreement" (click)="agree() ">
      <label class="form-check-label custom-control-label" for="agreement">
        Я согласен с <a (click)="openConfFile()" class="doc-link">политикой конфиденциальности</a>
        и даю <a (click)="openPersonalDataHandleFile()" class="doc-link">согласие на обработку моих персональных</a> данных
      </label>
    </div>
    <div class="text-center">
      <button class="primary-btn" [disabled]="!isAgree" (click)="sign()">Продолжить</button>
    </div>
  </div>
</div>
