.block {
  margin: 160px auto 100px;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px
}

.content_ {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.02em;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.custom-footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  height: 160px;
  background: #F6F6F6;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);;
}

.agreement {
  margin: 0 auto;
  width: 45%;
}

.form-check-label {
  font-size: 14px;
  color: #999999;
}

.primary-btn {
  background-color: #FBDE4B;
  margin-top: 20px;
  padding: 16px 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: black;
  background-color: black;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: black;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.2rem;
}

.doc-link {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .agreement {
    width: 77%;
  }
}

@media screen and (max-width: 768px) {
  .primary-btn {
    padding: 9px 33%;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .agreement {
    width: 100%;
  }

  .form-check-label {
    font-size: 13px;
  }
}
