<div class="content mx-auto">
  <app-home-banner></app-home-banner>
  <app-home-advantages></app-home-advantages>
  <app-instruction></app-instruction>
  <div class="mb-10" id="partners">
    <app-home-partners></app-home-partners>
  </div>
<!--  <app-faq></app-faq>-->
</div>
