body {
  font-family: Inter;
  background-color: #F6F6F6;
}

.custom-layout {
  height: 100%;
  display: flex;
  align-items: center;
}

.custom-input-large {
  width: 592px;
}

.pointer {
  cursor: pointer;
}
