.faq-title{
  margin-top: 160px;
  font-weight: 500;
  font-size: 56px;
  line-height: 56px;
  color: #000000;
  text-align: left;
}

.questions{
  margin-top: 64px;
}

.item{
  background: #F6F6F6;
  border-radius: 24px;
  margin-bottom: 16px;
}

.question-text{
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  color: black;
}

.minus{
  text-align: right;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 44px;
}

.plus{
  text-align: right;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 44px;
}

.answer{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  color: #3A3A3A;
}

.btn-faq {
  margin-top: 56px;
  margin-bottom: 220px;
}

.btn-white {
  background: #FFFFFF;
  border: 1px solid #E2E3E6;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
