<div class="faq-title mx-auto">
  Часто задаваемые вопросы
</div>
<div class="questions mx-auto">
  <div class="item">
    <div class="question d-flex pointer" (click)="clickFirstQuestion()">
      <div class="question-text flex-fill">
        Как работает сервис?
      </div>
      <div class="plus flex-fill" *ngIf="firstQ">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.0003 1C12.0003 0.447715 11.5526 0 11.0003 0C10.448 0 10.0003 0.447715 10.0003 1L10.0003 10.0022H1C0.447715 10.0022 0 10.4499 0 11.0022C0 11.5545 0.447715 12.0022 1 12.0022H10.0003L10.0003 21C10.0003 21.5523 10.448 22 11.0003 22C11.5526 22 12.0003 21.5523 12.0003 21L12.0003 12.0022H21C21.5523 12.0022 22 11.5545 22 11.0022C22 10.4499 21.5523 10.0022 21 10.0022H12.0003L12.0003 1Z"
                fill="#151C22"/>
        </svg>
      </div>
      <div class="minus flex-fill" *ngIf="!firstQ">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3 14.0022C3 13.4499 3.44772 13.0022 4 13.0022H24C24.5523 13.0022 25 13.4499 25 14.0022C25 14.5545 24.5523 15.0022 24 15.0022H4C3.44772 15.0022 3 14.5545 3 14.0022Z"
                fill="#151C22"/>
        </svg>
      </div>
    </div>
    <div class="answer" *ngIf="!firstQ">
      Сервис работает напрямую с сайтами интернет-магазинов — выберите Unicard как способ оплаты на сайте и введите
      данные карты. Перед каждым платежом пришлем вам напоминание о дате списания.
    </div>
  </div>
  <div class="item">
    <div class="question d-flex pointer">
      <div class="question-text flex-fill">
        Нужна ли регистрация?
      </div>
      <div class="minus flex-fill" *ngIf="defaultFalse">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3 14.0022C3 13.4499 3.44772 13.0022 4 13.0022H24C24.5523 13.0022 25 13.4499 25 14.0022C25 14.5545 24.5523 15.0022 24 15.0022H4C3.44772 15.0022 3 14.5545 3 14.0022Z"
                fill="#151C22"/>
        </svg>
      </div>
      <div class="plus flex-fill" *ngIf="defaultTrue">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.0003 1C12.0003 0.447715 11.5526 0 11.0003 0C10.448 0 10.0003 0.447715 10.0003 1L10.0003 10.0022H1C0.447715 10.0022 0 10.4499 0 11.0022C0 11.5545 0.447715 12.0022 1 12.0022H10.0003L10.0003 21C10.0003 21.5523 10.448 22 11.0003 22C11.5526 22 12.0003 21.5523 12.0003 21L12.0003 12.0022H21C21.5523 12.0022 22 11.5545 22 11.0022C22 10.4499 21.5523 10.0022 21 10.0022H12.0003L12.0003 1Z"
                fill="#151C22"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="question d-flex pointer">
      <div class="question-text flex-fill">
        Это кредит?
      </div>
      <div class="minus flex-fill" *ngIf="defaultFalse">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3 14.0022C3 13.4499 3.44772 13.0022 4 13.0022H24C24.5523 13.0022 25 13.4499 25 14.0022C25 14.5545 24.5523 15.0022 24 15.0022H4C3.44772 15.0022 3 14.5545 3 14.0022Z"
                fill="#151C22"/>
        </svg>
      </div>
      <div class="plus flex-fill" *ngIf="defaultTrue">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.0003 1C12.0003 0.447715 11.5526 0 11.0003 0C10.448 0 10.0003 0.447715 10.0003 1L10.0003 10.0022H1C0.447715 10.0022 0 10.4499 0 11.0022C0 11.5545 0.447715 12.0022 1 12.0022H10.0003L10.0003 21C10.0003 21.5523 10.448 22 11.0003 22C11.5526 22 12.0003 21.5523 12.0003 21L12.0003 12.0022H21C21.5523 12.0022 22 11.5545 22 11.0022C22 10.4499 21.5523 10.0022 21 10.0022H12.0003L12.0003 1Z"
                fill="#151C22"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="question d-flex pointer">
      <div class="question-text flex-fill">
        Есть ли плата за использование сервиса?
      </div>
      <div class="minus flex-fill" *ngIf="defaultFalse">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M3 14.0022C3 13.4499 3.44772 13.0022 4 13.0022H24C24.5523 13.0022 25 13.4499 25 14.0022C25 14.5545 24.5523 15.0022 24 15.0022H4C3.44772 15.0022 3 14.5545 3 14.0022Z"
                fill="#151C22"/>
        </svg>
      </div>
      <div class="plus flex-fill" *ngIf="defaultTrue">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.0003 1C12.0003 0.447715 11.5526 0 11.0003 0C10.448 0 10.0003 0.447715 10.0003 1L10.0003 10.0022H1C0.447715 10.0022 0 10.4499 0 11.0022C0 11.5545 0.447715 12.0022 1 12.0022H10.0003L10.0003 21C10.0003 21.5523 10.448 22 11.0003 22C11.5526 22 12.0003 21.5523 12.0003 21L12.0003 12.0022H21C21.5523 12.0022 22 11.5545 22 11.0022C22 10.4499 21.5523 10.0022 21 10.0022H12.0003L12.0003 1Z"
                fill="#151C22"/>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="btn-faq text-center">
  <button class="btn btn-white">Показать еще вопросы</button>
</div>

