<div class="bg-black pb-4">
  <nav class="navbar justify-content-start px-5 pt-4">
    <a class="link" [routerLink]="'/about'">О НАС</a>
    <a class="link px-3" (click)="scroll('partners')">ПАРТНЕРЫ</a>
    <a class="link px-3" [routerLink]="'/business'">ДЛЯ БИЗНЕСА</a>
    <a class="link px-3" [routerLink]="'/contacts'">КОНТАКТЫ</a>
  </nav>
  <hr>
  <div class="footer-nav d-flex justify-content-between px-5 pt-4">
    <div class="lower-navbar">
      <span class="lower-link">© 2021, Unicard</span>
      <a class="lower-link px-3 pointer" (click)="openConfFile()">Конфиденциальность</a>
      <a class="lower-link px-3 pointer" (click)="openOfferFile()">Публичная оферта</a >
      <a class="lower-link px-3 pointer" [routerLink]="'/documents'">Документы</a>
    </div>
  </div>
</div>
