.bg-black {
  background-color: black;
}

.navbar {
  max-width: 1300px;
  position: relative;
  height: 80px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
}

.link {
  color: #FFFFFF;
  font-weight: 600;
}

hr {
  border: none;
  color: #8D8D8E;
  background-color: #8D8D8E;
  height: 1px;
  width: 89%;
  max-width: 1204px;
}

.footer-nav {
  max-width: 1300px;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
}

.lower-link {
  color: rgba(255, 255, 255, 0.48);
  font-size: 14px;
}

.link:hover, .lower-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .navbar {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .link {
      width: 100%;
      text-align: left;
      padding: 6px 0!important;
    }
  }

  .lower-navbar {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .lower-link {
      width: 100%;
      text-align: left;
      padding: 6px 0!important;
    }
  }

  .footer-nav {
    padding-top: 0!important;
  }
}
