<div class="content mx-auto">
  <div class="banner mx-auto">
    <div class="banner-text">
      О нас
    </div>
    <p class="info">Вне зависимости от того, покупаете ли вы новую одежду или косметику, которая восхитит вас, либо
      кухонную утварь, вы желаете ощущать себя отлично из-за вещей, которые вы покупаете.
      А <b>Unicard</b> делает это возможным
    </p>
  </div>

  <div class="mt-5 row justify-content-center advantage mx-auto">
    <div class="col adv-video py-4 text-center">
      <video width="500" controls autoplay="autoplay">
        <source src="assets/about.mp4" type="video/mp4">
        Ваш браузер не поддерживает HTML видео.
      </video>
    </div>
    <div class="col adv-desc">
      <h1>Почему мы?</h1>
      <p>Мы предлагаем Вам возможность удобной оплаты желаемых товаров в 3 транша, 1 при покупке и 2 через каждые 2 недели без скрытых или дополнительных процентов.</p>
    </div>
  </div>

  <div class="offer text-center">
    <h1 class="offer-title">Совершите покупку здесь и сейчас!</h1>
<!--    <button class="primary-btn mx-auto" disabled (click)="openVerticallyCentered(content)">Совершить покупку</button>-->
  </div>
</div>

<ng-template #content let-modal>
  <div class="custom-modal">
    <div class="header-modal">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <img src="assets/pictures/icons/X.svg" alt="X" aria-hidden="true">
      </button>
    </div>
    <div class="text-center">
      <div class="modal-title">Оставить заявку</div>
      <p class="mt-3 light-gray">Мы ответим вам в течении 3-х рабочих дней</p>
    </div>

    <div class="form-content">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="fullName"
               autocomplete="off" placeholder="Ф.И.О">
      </div>

      <div class="form-group">
        <input type="email" class="form-control" [(ngModel)]="email"
               autocomplete="off" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="phone"
               id="phone" autocomplete="off" placeholder="Номер телефона">
      </div>
      <label for="phone" class="phone-label">+7</label>

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="companyName"
               autocomplete="off" placeholder="Название компании">
      </div>

      <div class="form-group">
        <input type="number" class="form-control" [(ngModel)]="bin"
               autocomplete="off" placeholder="БИН/ИИН компании">
      </div>

      <div class="form-group">
        <select name="towns" id="town" class="form-control dropdown dd">
          <option value="" disabled selected>Город</option>
          <ng-container *ngFor="let town of townList">
            <option value="{{town}}">{{town}}</option>
          </ng-container>
        </select>
      </div>

      <div class="form-group">
        <select name="items" id="item" class="form-control dropdown dd">
          <option value="" disabled selected>Категория товаров</option>
          <ng-container *ngFor="let item of itemList">
            <option value="{{item}}">{{item}}</option>
          </ng-container>
        </select>
      </div>

      <div>
        <button class="btn btn-yellow" (click)="modal.dismiss() || openSuccessModal(success)">Продолжить</button>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #success let-modal1>
  <div class="ignored">
    <div class="modal-success text-center">
      <img src="assets/pictures/icons/check.svg" alt="success">
      <p class="success-title inter">Ваша заявка принята</p>
      <p class="light-gray success-info">Наш менеджер скоро с вами свяжется</p>

      <button class="btn btn-yellow mt-2" (click)="modal1.dismiss()">Готово</button>
    </div>
  </div>
</ng-template>
