.banner {
  margin-top: 16px;
  border-radius: 32px;
  height: 500px;
  width: 95%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //background-image: url('/assets/pictures/business.jpg');
  background: linear-gradient(0deg, rgba(58, 58, 58, 0.32), rgba(58, 58, 58, 0.32)),
  url('/assets/pictures/bank_payment.png') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 75px 45px 45px;
}

.banner-text {
  text-align: left;
  margin-bottom: 135px;
  width: 300px;
  color: white;
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -4px;
  z-index: 1;
}

.info {
  color: #ECECEC;
  font-size: 20px;
  line-height: 24px;
  width: 700px;
}

.content {
  max-width: 1216px;
}

.advantage {
  width: 92%;

}

.adv-desc {
  padding: 100px 35px;
}

.offer {
  background-color: #F6F6F6;
  padding: 50px;
  border-radius: 24px;
  margin: 0 auto 80px;
  width: 95%;
}

.primary-btn {
  margin: 24px auto 0;
  padding: 16px 32px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 12px;
  border: 0;
}

.modal-content {
  background-color: transparent!important;
  border: 0!important;
}

.custom-modal {
  margin-left: -90px;
  margin-top: -10px;
  width: 672px;
  height: 760px;
  background-color: white;
  padding: 40px 40px 72px;
  border-radius: 24px;
}

.header-modal {
  height: 40px;
}

.modal-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}

.light-gray {
  color: #8D8D8E;
}

.form-control {
  height: 56px;
  padding: 18px 24px;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
}

label {
  position: relative;
  bottom: 56px;
  left: 22px;
  color: black;
  font-weight: normal;
  font-size: 16px;
}

.input-active {
  padding: 30px 24px 10px;
}

.form-content {
  height: 500px;
}

::placeholder {
  font-size: 16px;
  color: #999;
  font-weight: normal;
}

#phone {
  padding-left: 50px;
  margin-bottom: -30px;
}

.phone-label {
  position: relative;
  bottom: 26px
}

input[type="text"], input[type="number"], input[type="email"] {
  font-weight: normal;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-yellow {
  background-color: #FBDE4B;
  width: 100%;
  padding: 16px 32px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 12px;
}

.ignored {
  height: 0;
  width: 100%;
}

.modal-success {
  position: relative;
  bottom: 200px;
  right: 0;
  height: 340px;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  padding: 40px 30px 0;
}

.success-title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.success-info {
  font-size: 14px;
  line-height: 20px;
}

.dropdown {
  font-weight: normal;
  color: #999;
  padding: 0 20px;
}

option {
  color: black;
}

select {
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.dd {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 19px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px),
    calc(100% - 2.5em) 1.0em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}


@media screen and (max-width: 800px) {
  .banner {
    height: 600px;
    width: 90%;
    margin: 16px auto 0;

  }

  .banner-text {
    font-size: 56px;
    width: 140px;
    margin-bottom: 45px;
  }

  .info {
    width: 500px;
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  .advantage {
    flex-direction: column;
  }

  video {
    width: 400px;
    margin: 0 auto;
  }

  .adv-desc {
    padding: 30px 20px!important;
  }
}

@media screen and (max-width: 538px) {
  video {
    width: 250px;
    margin: 0 auto;
  }

  .offer-title {
    font-size: 32px;
  }

  .banner {
    padding: 95px 45px 45px;
  }

  .primary-btn {
    padding: 12px 32px;
  }

  .custom-modal {
    margin-left: -20px;
    margin-right: -22px;
    max-width: 594px;
    width: auto;
    height: 800px;
  }

  .info {
    width: 190px;
    font-size: 16px;
  }

  .modal-title {
    font-size: 32px;
    line-height: 36px;
  }

  .light-gray {
    font-size: 14px;
  }
}


@media screen and (max-width: 693px) {
  .custom-modal {
    margin-left: -20px;
    margin-right: -22px;
    max-width: 594px;
    width: auto;
  }
}
