.block {
  max-width: 1008px;
  margin: 0 auto;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  width: 520px;
  padding: 41px 9px;
}

.img-container {
  padding: 8px;
}

.img-box {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 6px;
  padding: 51px 86px;
  width: 450px;
  height: 350px;
  margin: 0 auto;
}

.product-description {
  display: flex;
  height: 100%;
  width: 450px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.prd-title {
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  font-weight: bold;
}

.value {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.param {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8E;
}

.buy-btn {
  background-color: #FBDE4B;
  padding: 16px 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
}

.product-image {
  max-width: 300px;
}

@media screen and (max-width: 768px) {

  .block .col{
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 12px;
  }

  .prd-title {
    font-size: 32px;
  }

  .img-box {
    width: 100%;
  }
  //.product-description {
  //  width: 100%;
  //  .row {
  //    flex-direction: column;
  //    width: 100%;
  //
  //    .col {
  //      margin-bottom: 10px;
  //    }
  //  }
  //}

  .block .product-description {
    width: auto;
  }

  .product-image {
    width: 200px;
  }

  .buy-btn {
    padding: 6px 48px;
    font-size: 14px;
  }
}

@media screen and (max-width: 468px) {
  .product-image {
    width: 160px;
  }

  .prd-title {
    font-size: 28px;
  }

  .block {
    width: auto;
  }

  .img-box {
    padding: 26px 20px;
  }

}

@media screen and (max-width: 992px) {
  .block {
    margin-top: 140px;
    width: auto;
  }

  .prod-info {
    margin-top: 20px;
  }
}
