<div class="custom-layout">
  <div class="block row" *ngIf="product">

<!--    <div class="col img-container">-->
<!--      <div class="img-box">-->
<!--        <img src="assets/macbook_pro_13.png" alt="product" class="product-image">-->
<!--      </div>-->
<!--    </div>-->

    <div class="col prod-info">

      <div class="product-description">

        <div class="mb-4 text-center">
<!--          MacBook Pro 13”-->
          <span class="prd-title">{{product.Description}}</span>
        </div>

        <div class="row mb-4 w-100">
          <div class="col text-center">
            <span class="value">6 недель</span><br>
            <span class="param">Срок рассрочки</span>
          </div>

          <div class="col text-center">
            <span class="value">{{product.Price | numberFormat}} ₸</span><br>
            <span class="param">Цена продукта</span>
          </div>

          <div class="col text-center">
            <span class="value">{{product.Seller}}</span><br>
            <span class="param">Магазин</span>
          </div>
        </div>
        <button class="btn buy-btn mb-4" (click)="goNext()">Купить в рассрочку</button>
      </div>
    </div>
  </div>
</div>
